@charset "UTF-8";
@import "../../../sass/func";


@keyframes prize_move {
	0%{

		transform: translate3d(0,0,0);
	}

	100%{
		transform: translate3d(0,pxToRem(-3135px),0);
	}
}





.prize_list_move{

	.prize_list:nth-child(1){
    animation: prize_move 3.6s   cubic-bezier(0, 0, 0, 0.99) both;
	}

	.prize_list:nth-child(2){
    animation: prize_move 3.85s   cubic-bezier(0, 0, 0, 0.99) both;
	}

	.prize_list:nth-child(3){
    animation: prize_move 4.05s   cubic-bezier(0, 0, 0, 0.99) both;
	}

}
