@charset "UTF-8";
$default-color: #fff;
$bg-red-color: #ed4944;
$bg-yellow-color: #ffe9c6;
$txt-red-color: #f43436;
$txt-black-color: #333;
$txt-grey-color: #555;
$border-yellow-color: #fbbd46;
$border-grey-color: #e6e6e6;
