@charset "UTF-8";
@import "../../../sass/func";
.animated {
    animation-duration: 0.5s;
    animation-fill-mode: both;
}

@keyframes zoomIn {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }
    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

.zoomIn {
    @extend .animated;
    animation-name: zoomIn;
}



@keyframes flipInX {
  from {
    transform: perspective(400px) rotateX(90deg);
    animation-timing-function: ease-in;
  }

  40% {
    transform: perspective(400px) rotateX(-20deg);
    animation-timing-function: ease-in;
  }

  60% {
    transform: perspective(400px) rotateX(10deg);
  }

  80% {
    transform: perspective(400px) rotateX(-5deg);
  }

  to {
    transform: perspective(400px);
  }
}

.flipInX {
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-backface-visibility: visible !important;
	backface-visibility: visible !important;
	animation-name: flipInX;
  display: block;
}