.header .title .selectBox .selectList{padding-top: 9px;width: 180px;background: url(/imgs/images/bg-selectList.png) no-repeat;background-size: 180px auto;left: 50%;margin-left: -90px;top: 55px;}
.header .title .selectBox .selectList li{line-height: 44px;font-size: 15px;color: #282828;}
.bb-dashed-d1d1d1{border-bottom: 1px dashed #d1d1d1;}
.rotateZ0{-webkit-transform: rotateZ(0);}
.rotateZ90{-webkit-transform: rotateZ(90deg);}

.header-tab{width: 225px;height: 30px;margin: 9px auto 0;border-radius: 4px;border: 1px solid #eeeeee;}
.header-tab a{display: block;text-align: center;width: 50%;height: 28px;line-height: 28px;font-size: 17px;color: #808080;float: left;}
.header-tab a.active{background: #ffc61a;color: #fff;}

.tab-nav div{color: #808080;}
.tab-nav div.tab-nav-active{color: #fab600;}

@media only screen and (max-width: 360px) {
	.header-tab{width: 200px;}
}
@media only screen and (max-width: 320px) {
	.header-tab{width: 180px;}
}

.debt-list .debt-list-title{padding: 10px 0;position: relative;}
.debt-list .debt-list-title p{padding-right: 90px;white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.debt-list .debt-list-title .apply-btn{height: 25px;line-height: 25px;background: #ffcf1f;padding: 0 10px;border-radius: 2px;right: 15px;top: 10px;}
.debt-list .debt-list-body{padding: 15px 0;position: relative;}
.debt-list .debt-list-body .debtWay{bottom: 14px;right: 15px;}
.ico{display: inline-block;margin-right: 7px;}
.ico-money1{width: 12px;height: 12px;background: url('/imgs/images/ret-m-ico1.png');background-size: 100% 100%;vertical-align: -2px;}
.ico-money2{width: 21px;height: 20px;background: url('/imgs/images/ico-money2.png');background-size: 100% 100%;vertical-align: -4px;}
.ico-date1{width: 12px;height: 12px;background: url('/imgs/images/ret-m-ico2.png');background-size: 100% 100%;vertical-align: -2px;}
.ico-schedule{width: 12px;height: 12px;background: url('/imgs/images/ico-schedule.png');background-size: 100% 100%;vertical-align: -2px;}
.ico-clock{width: 12px;height: 12px;background: url('/imgs/images/clock.png');background-size: 100% 100%;vertical-align: -2px;}
.ico-clock-red{width: 12px;height: 12px;background: url('/imgs/images/ico-clock-red.png');background-size: 100% 100%;vertical-align: -1px;}
.ico-debt1{width: 9px;height: 11px;background: url('/imgs/images/ico-debt1.png');background-size: 100% 100%;vertical-align: -1px;}
.ico-deal7{width: 17px;height: 17px;background: url('/imgs/images/ico-deal7.png?v=20160627');background-size: 100% 100%;vertical-align: -3px;}
.ico-biao{width: 13px;height: 15px;background: url('/imgs/images/ico-biao.png');background-size: 100% 100%;vertical-align: -3px;margin-right: 5px;}
.ico-state5{width: 11px;height: 11px;background: url('/imgs/images/state5.png');background-size: 100% 100%;vertical-align: 0;margin-right: 5px;}
.ico-arrow-right{width: 15px;height: 11px;background: url('/imgs/images/ico-arrow-right.png');background-size: 100% 100%;vertical-align: 0;}
.ico-warn{width: 11px;height: 11px;background: url('/imgs/images/ico_warn.png');background-size: 100% 100%;vertical-align: 0;}
.ico-income{width: 12px;height: 11px;background: url('/imgs/images/ico-income.png');background-size: 100% 100%;vertical-align: 0;}
.ico-titlemark{width: 3px;height: 12px;background: #808080;}

.img-debt-empty{width: 219px;margin: 75px auto 0;}

.circle{right: 15px;top: 14px;}

/*转让详情*/
.debt-detail-top{position: relative;padding-left: 80px;padding-top: 20px;padding-right: 15px;}
.debt-detail-top span{position: absolute;left: 15px;top: 20px;}
.absBtn-right{height: 25px;line-height: 25px;background: #ffcf1f;padding: 0 10px;border-radius: 2px;right: 15px;top: 6px;}
.titleMark{height: 20px;line-height: 20px;border-bottom-right-radius: 10px;border-top-right-radius: 10px;padding: 0 16px 0 14px;}
/*转让详情弹窗*/
.alert-stop-assignment{width: 90%;border-radius: 12px;}
.alert-stop-assignment .alert-inp{border: 1px solid #ffcf1f;border-radius: 8px;height: 44px;position: relative;}
.alert-stop-assignment .alert-inp input{border: none;outline: none;height: 42px;position: absolute;left: 11px;top: 0;font-size: 15px;color: #212121;}
.alert-stop-assignment .alert-inp .absBtn-right{right: 10px;height: 29px;line-height: 29px;border-radius: 4px;}

/*申请转让*/
.coverBox{width: 100%;top:0;left: 0;height: 100%;background: #fbfbf9;}
.ico-round-close{width: 24px;height: 24px;background: url(/imgs/images/ico-round-close.png) no-repeat;background-size: 100% 100%;left: 10px;top: 20px;}
.inp-box{position: relative;padding-left: 118px;height: 44px;background: #fff;}
.inp-box span{position: absolute;left: 15px;top: 10px;}
.inp-box input{font-size: 17px;color: #212121;height: 42px;border: none;outline: none;}

/*承接详情*/
.title-arrow{width: 7px;height: 13px;top: 50%;margin-top: -6px;right: 15px;background: url('/imgs/images/ico_arrow_r3.png');background-size: 100% 100%;}
.debt-amo{padding-top: 23px;position: relative;}
.debt-amo-yLine{position: absolute;left: 50%;top: 35px;width: 1px;height: 45px;background: #eea718;}

/*中止转让成功提示*/
.successTipsWrap{width: 100%;height: 100%;position: absolute;left: 0;top: 0;z-index: 999;}
.successTips{width: 80%;height: 75px;line-height: 75px;background: rgba(0,0,0,0.5);border-radius: 6px;}
.ico-success{width: 35px;height: 35px;background: url(/imgs/images/ico-success.png) no-repeat;background-size: 100% 100%;vertical-align: -11px;margin-right: 15px;}


/*常见问题*/
.questionWrap ul li:last-child{border-bottom: 0;}
.questionWrap ul li i{display: inline-block;width: 7px;height: 9px;background: url(/imgs/images/ico-triangle-r.png) no-repeat;background-size: 100% 100%;margin-right: 15px;vertical-align: 3px;transition: transform 0.2s linear;}

/*动画*/
.moveToTop{-webkit-animation: moveToTop ease-out 0.4s forwards;}
.moveToBottom{-webkit-animation: moveToBottom ease-in 0.4s forwards;}

@media only screen and (max-height: 480px) {
	.img-debt-empty{margin: 30px auto 0;}
}
@media only screen and (max-width: 320px) {
	.f17px{font-size: 15px !important;}
	.f25px{font-size: 20px !important;}
	.ml20{margin-left: 15px !important;}
}

@-webkit-keyframes moveToTop{
	from{-webkit-transform: translate3d(0,100%,0);opacity: 0;}
	to{-webkit-transform: translate3d(0,0,0);opacity: 1;}
}
@-webkit-keyframes moveToBottom{
	from{-webkit-transform: translate3d(0,0,0);opacity: 1;}
	to{-webkit-transform: translate3d(0,100%,0);opacity: 0;}
}

/*进度条样式*/
.dataTables_processing {
	position: absolute;
	top: 30%;
	left: 50%;
	margin-left: -55px;
	margin-top: -25px;
	width: 110px;
	height: 50px;
	text-align: center; 
	text-indent: 2em; 
	color: #333;
    background: url(/imgs/loading01.gif) 10px 10px no-repeat #fff; 
	z-index:9999;
	box-shadow: 0 0 10px #ccc; line-height: 50px; border-radius: 5px; 
}