<!DOCTYPE html>
<html lang="zh">
<head>
  <title>团贷网6周年庆</title>
  {{> './tpls/head.html'}}
</head>
<body>
  <section class="page-theme">
    <div class="pub-logo"></div>
    <p class="pub-warning">【广告】市场有风险，投资需谨慎</p>
    <div class="pub-shareBtn"></div>
    <div class="down-arrow"></div>
    <section class="swiper-theme swiper-container">
      <div class="swiper-wrapper">
        <!-- 第一屏 -->
        <section class="swiper-slide theme-section section-1st on">
          <div class="pub-aurora"></div>
          <div class="pub-star star-1st"></div>
          <div class="pub-star star-2nd"></div>
          <div class="pub-star star-3rd"></div>
          <div class="title-1st" data-bg="./images/theme/1-1-1.png"></div>
          <div class="title-2nd" data-bg="./images/theme/1-1-2.png"></div>

          <div class="stairs-1st" data-bg="./images/theme/1-6.png"></div>

          <div class="stairs-2nd" data-bg="./images/theme/1-8-1.png"></div>
          <div class="stairs-3rd" data-bg="./images/theme/1-8-2.png"></div>
          <div class="stairs-4th" data-bg="./images/theme/1-8-3.png"></div>

          <div class="stairs-5th" data-bg="./images/theme/1-9-1.png"></div>
          <div class="stairs-6th" data-bg="./images/theme/1-9-2.png"></div>
          <div class="stairs-7th" data-bg="./images/theme/1-9-3.png"></div>
          <div class="stairs-8th" data-bg="./images/theme/1-9-4.png"></div>

          <div class="stairs-female" data-bg="./images/theme/1-6-1.png"></div>
          <div class="base-container"></div>
        </section>
        <!-- 第一屏 end -->
        <!-- 第二屏 -->
        <!-- <section class="swiper-slide theme-section section-2nd">
          <div class="pub-aurora"></div>
          <div class="pub-star star-1st"></div>
          <div class="pub-star star-2nd"></div>
          <div class="pub-star star-3rd"></div>
          <div class="title-2nd"></div>
          <div class="video-container">
              <p class="video-title">视频主题</p>
            <div class="video-wrapper" id="js-video"></div>
          </div>
          <p class="video-intro">微电影《六年》讲述的是六年的时间，四个年轻人，三个不一样的故事。一个年轻的水果摊贩通过六年的努力，实现了自己开一家水果店的小愿望；两个程序员码了六年的代码，开发出了自己的软件；一个毕业六年的女生，辞掉白领工作回家开起了回收站，成了智能垃圾分类的项目合伙人；他们代表着平凡而执着的年轻人，代表着经济发展过程中的普通人，也代表着不断努力着的你我。六年来，团贷网也一直坚持初心，保持创业的激情，与千万团粉同行，创造了无数难忘的历史时刻，感恩过去，并坚定信心与团粉们继续前行。</p>
        </section> -->
        <section class="swiper-slide theme-section section-3rd">
          <div class="pub-aurora"></div>
          <div class="pub-star star-1st"></div>
          <div class="pub-star star-2nd"></div>
          <div class="pub-star star-3rd"></div>
          <div class="title-3rd"></div>
          <div class="swiper-container swiper-process">
            <div class="swiper-wrapper">
              <div class="swiper-slide swiper-process-item eventTracking" th:attr="mtaName='lastyear4c',sa='true',name='上一年'">
                <div class="process-container">
                  <p class="process-title">2018年</p>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-15.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2018年1月</dt>
                      <dd class="dd">团贷网加入“千企帮千村”精准扶贫行动。</dd>
                    </dl>
                  </div>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-16.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2018年2月</dt>
                      <dd class="dd">团贷网爱心大巴发车，六百工友免费乘车返乡过年。</dd>
                    </dl>
                  </div>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-17.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2018年5月</dt>
                      <dd class="dd">公益步履不止：2018团贷网·梦工厂科技支教再赴凉山。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-process-item eventTracking" th:attr="mtaName='nextyear4d',sa='true',name='下一年'">
                <div class="process-container">
                  <p class="process-title">2017年</p>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-12.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2017年3月</dt>
                      <dd class="dd">团贷网与厦门银行的银行存管系统正式上线，技术与合规再进一步。</dd>
                    </dl>
                  </div>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-13.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2017年7月</dt>
                      <dd class="dd">团贷网入选广东省“互联网+中国社科院发布最新互金评级报告，团贷网平台位列前十。</dd>
                    </dl>
                  </div>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-14.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2017年9月</dt>
                      <dd class="dd">团贷网“天秤”亮相金融风控大数据论坛。</dd>
                    </dl>
                  </div>
                </div>
              </div >
              <div class="swiper-slide swiper-process-item eventTracking" th:attr="mtaName='nextyear4d',sa='true',name='下一年'">
                <div class="process-container">
                  <p class="process-title">2016年</p>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-9.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2016年3月</dt>
                      <dd class="dd">国务院批准中国互联网金融协会正式挂牌，受邀出席并成为首批会员单位。</dd>
                    </dl>
                  </div>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-10.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2016年6月</dt>
                      <dd class="dd">团贷网入选广东省“互联网+金融”试点项目，助推互金行业发展与创新。</dd>
                    </dl>
                  </div>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-11.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2016年7月</dt>
                      <dd class="dd">团贷网受邀出席LendIt中国峰会，唐军发表主题演讲。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-process-item eventTracking" th:attr="mtaName='nextyear4d',sa='true',name='下一年'">
                <div class="process-container n2">
                  <p class="process-title">2015年</p>
                  <div class="process-item-n2">
                    <img  src="../images/theme/3-3-7.jpg" class="process-img-n1">
                    <dl class="process-dl-n2">
                      <dt class="dt">2015年5月</dt>
                      <dd class="dd">团贷网再获国家版权局颁发的两项著作权登记证书，至此，团贷网已累计获得八项自主产权认证证书。</dd>
                    </dl>
                  </div>
                  <div class="process-item-n2">
                    <img src="../images/theme/3-3-8.jpg" class="process-img-n1">
                    <dl class="process-dl-n2">
                      <dt class="dt">2015年8月</dt>
                      <dd class="dd">时任东莞市市长来访，勉励团贷网要做好行业“领头羊”。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-process-item eventTracking" th:attr="mtaName='nextyear4d',sa='true',name='下一年'">
                <div class="process-container">
                  <p class="process-title">2014年</p>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-4.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2014年4月</dt>
                      <dd class="dd">团贷网独家冠名“赢在中国·颠覆2014”新闻发布会。</dd>
                    </dl>
                  </div>
                  <div class="process-item">
                    <img   src="../images/theme/3-3-5.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2014年7月</dt>
                      <dd class="dd">团贷网获中华人民共和国公安部信息安全等级保护三级权威认证，打造五星级投资安全系统。</dd>
                    </dl>
                  </div>
                  <div class="process-item">
                    <img  src="../images/theme/3-3-6.jpg" class="process-img">
                    <dl class="process-dl">
                      <dt class="dt">2014年11月</dt>
                      <dd class="dd">团贷网获“2014年度互联网金融领军企业奖”荣誉。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-process-item eventTracking" th:attr="mtaName='nextyear4d',sa='true',name='下一年'">
                <div class="process-container n2">
                  <p class="process-title">2013年</p>
                  <div class="process-item-n2">
                    <img  src="../images/theme/3-3-2.jpg" class="process-img-n1">
                    <dl class="process-dl-n2">
                      <dt class="dt">2013年8月</dt>
                      <dd class="dd">团贷网携手优米网成功举办2013年“名人时间3小时”活动，团贷网创始人唐军再拔头筹。</dd>
                    </dl>
                  </div>
                  <div class="process-item-n2">
                    <img  src="../images/theme/3-3-3.jpg" class="process-img-n1">
                    <dl class="process-dl-n2">
                      <dt class="dt">2013年11月</dt>
                      <dd class="dd">团贷网完成股份制改革，增加注册资本至一亿元人民币，成为业内首家注册资本一亿的股份制网贷平台。</dd>
                    </dl>
                  </div>
                </div>
              </div>
              <div class="swiper-slide swiper-process-item eventTracking" th:attr="mtaName='nextyear4d',sa='true',name='下一年'">
                <div class="process-container n1">
                  <p class="process-title">2012年</p>
                  <div class="process-item-n1">
                    <img  src="../images/theme/3-3-1.jpg" class="process-img-n1">
                    <dl class="process-dl-n1">
                      <dt class="dt">2012年7月</dt>
                      <dd class="dd">团贷网平台正式上线运营。</dd>
                    </dl>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="swiper-pagination swiper-process-indicator"></div>
        </section>
        <!-- 第三屏 end -->
        <!-- 第四屏 -->
        <section class="swiper-slide theme-section section-4th">
          <div class="pub-aurora"></div>
          <div class="pub-star star-1st"></div>
          <div class="pub-star star-2nd"></div>
          <div class="pub-star star-3rd"></div>
          <div class="title-4th"></div>
          <div class="swiper-container swiper-fans">
            <div class="swiper-wrapper">
              <div class="swiper-slide swiper-fans-item">
                <div class="fans-container">
                  <img src="../images/theme/4-2.png" class="fans-avatar">
                  <p class="fans-name">张洪涛</p>
                  <div class="fans-img-container">
                    <img src="../images/theme/4-4-1.jpg" class="fans-img">
                    <p class="fans-img-date">投稿于2018-06-20</p>
                  </div>
                </div>
                <p class="fans-desc">每天我都会签到，看着我的资产稳步升值，现在已连续签到210多天。不知不觉中，自己工作生活的心态都发生了很大变化。变得对人对事都不那么斤斤计较，不会因蝇头小利而动怒生气。作为医生的我，更多的回归到本职工作和享受生活中去，同时生活上变得更有品味，凡事都看的更开啦！毕竟轻轻松松一个月就多入账七八千元，多了一个人的工资少了很多的负担，从此也达到了小小的财务自由。原来生活、工作、理财是这么的轻松。</p>
              </div>
              <div class="swiper-slide swiper-fans-item">
                <div class="fans-container">
                  <img src="../images/theme/4-2.png" class="fans-avatar">
                  <p class="fans-name">陈琳</p>
                  <div class="fans-img-container">
                    <img src="../images/theme/4-4-2.jpg" class="fans-img">
                    <p class="fans-img-date">投稿于2018-06-20</p>
                  </div>
                </div>
                <p class="fans-desc">我是一名宝妈，每天的工作就是在家带娃，投资团贷网也有几年的时间了，虽然每个月的收益不多，但这是我没上班的情况下带来的收益，我非常开心。以前只知道把钱放银行，自从知道有团贷网这样的平台，银行卡里就再也没有超过100块的零钱了。我每个月用团贷收益给娃买些零食，交家里的电费水费足够了，以后要赚更多的收益来实现带娃旅游，最后希望团贷网越来越好！</p>
              </div>
              <div class="swiper-slide swiper-fans-item">
                <div class="fans-container">
                  <img src="../images/theme/4-2.png" class="fans-avatar">
                  <p class="fans-name">张生</p>
                  <div class="fans-img-container">
                    <img src="../images/theme/4-4-3.jpg" class="fans-img">
                    <p class="fans-img-date">投稿于2018-06-22</p>
                  </div>
                </div>
                <p class="fans-desc">2012年，我的工作和生活逐渐稳定下来，终于有时间和精力来关心家庭和亲人。不断的积累，不断地收获，我买了房，买了车，为孩子提供了一个快乐成长的保障。当我回到家，看到团贷网邮寄的中秋团圆的礼物已然到家，儿子拆了一半问我：“爸爸，团贷网是啥？”我说：“一个温情的网站。”从此，无论我在外面多苦多累，家庭的生活都让我信心百倍。温情的团贷网，安心稳定的投资与回报，伴随我一起，构建起我温馨可爱的家园。</p>
              </div>
              <div class="swiper-slide swiper-fans-item">
                <div class="fans-container">
                  <img src="../images/theme/4-2.png" class="fans-avatar">
                  <p class="fans-name">王璧</p>
                  <div class="fans-img-container">
                    <img src="../images/theme/4-4-4.jpg" class="fans-img">
                    <p class="fans-img-date">投稿于2018-06-20</p>
                  </div>
                </div>
                <p class="fans-desc">作为一个事业单位人员，收入主要来自偏低的工资，为了增加收入就开始理财。2017年11月，在网贷之家上发现了团贷网，立刻被团贷网强大的实力所吸引，立刻把可以调动的有限的流动资金，全部注入。此后更一发不可收拾，其他平台到期的资金，也陆续转入团贷网，团贷网已占我理财资金的八成以上，虽然钱不多，依然给我带来不错的收益，幸福指数也飙升了不少，每天最开心的事就是盯着手机，盼着回款的日子！谢谢团贷网，支持团贷网！</p>
              </div>
              <div class="swiper-slide swiper-fans-item">
                <div class="fans-container">
                  <img src="../images/theme/4-2.png" class="fans-avatar">
                  <p class="fans-name">关涛</p>
                  <div class="fans-img-container">
                    <img src="../images/theme/4-4-5.jpg" class="fans-img">
                    <p class="fans-img-date">投稿于2018-06-21</p>
                  </div>
                </div>
                <p class="fans-desc">2016年12月我从网上无意中发现了团贷网App，抱着试试看的心态投资了第一笔钱，在P2P争议颇多的情况下我也有些担心，不过团贷网在P2P产品排行榜中一直处于排名靠前，也没有负面新闻。我还亲自参加了团贷网组织的山区支教工作，通过这次活动我更坚信团贷网是一个靠谱的平台。虽然加入的时间只有500多天，我相信团贷网会越来越好，给用户带来更好的体验，一路有你。</p>
              </div>
            </div>
          </div>
          <div class="swiper-fans-indicator"></div>
        </section>
        <!-- 第四屏 end -->
        <!-- 第五屏 -->
        <!-- 未登录 -->
        <!-- <section class="swiper-slide theme-section section-5th-unlogin">
          <div class="pub-aurora"></div>
          <div class="pub-star star-1st"></div>
          <div class="pub-star star-2nd"></div>
          <div class="pub-star star-3rd"></div>
          <div class="title-5th"></div>
          <div class="login-btn"></div>
          <a href="" class="activity-btn"></a>
        </section> -->
        <!-- 未登录 end -->
        <!-- 已登录 -->
        <section class="swiper-slide theme-section section-5th-logined">
          <div class="pub-aurora"></div>
          <div class="pub-star star-1st"></div>
          <div class="pub-star star-2nd"></div>
          <div class="pub-star star-3rd"></div>
          <div class="title-5th"></div>
          <div class="swiper-container swiper-timeline">
            <div class="reload-btn d-hide"></div>
            <ul class="timeline">
              <li class="item">2002年02月03日<br/>我遇见了<span class="mark">团贷网</span></li>
              <li class="item">今天是我在团贷网的<br/>第<span class="mark">5654</span>天</li>
              <li class="item">今天是我在团贷网的<br/>第<span class="mark">5654</span>天</li>
              <li class="item">今天是我在团贷网的<br/>第<span class="mark">5654</span>天</li>
              <li class="item">今天是我在团贷网的<br/>第<span class="mark">5654</span>天</li>
              <li class="item">今天是我在团贷网的<br/>第<span class="mark">5654</span>天</li>
              <li class="item">今天是我在团贷网的<br/>第<span class="mark">5654</span>天</li>
            </ul>
          </div>
          <a href="" class="activity-btn"></a>
        </section>
        <!-- 已登录 end -->
        <!-- 第五屏 end -->
      </div>
    </section>
  </section>
  <!-- <script src="https://players.youku.com/jsapi"></script> -->
  <!-- webpack js -->
  {{#each htmlWebpackPlugin.files.js}}<script src="{{this}}"></script>{{/each}}
  <!-- webpack js end-->

  <script>
    var doms={
      shareBtn:Q('.pub-shareBtn'),
      loginBtn:Q('.login-btn')
    }
    var mehtods={
      onShareBtnClk:function(){

      },
      onLoginBtnClk:function(){
        if(Jsbridge.isApp()){
          Jsbridge.toAppLogin()
        }else{
          window.location.href='//passport.tuandai.com'
        }
      }
    }
  doms.shareBtn.on('click',mehtods.onShareBtnClk)
  doms.loginBtn.on('click',mehtods.onLoginBtnClk)
  </script>
</body>
</html>