/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

html {
  line-height: 1; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

q, blockquote {
  quotes: none; }

q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none; }

a img {
  border: none; }

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/* @function baseFontSize($width) {
	return 20 * $width / 640;
}
 */
html,
body {
  position: relative;
  height: 100%;
  width: 100%;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch !important;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.block {
  display: block; }

.pos-r {
  position: relative; }

.pos-a {
  position: absolute; }

.pos-f {
  position: fixed; }

.clearfix {
  zoom: 1; }

.clearfix:after {
  content: '.';
  display: block;
  visibility: hidden;
  clear: both;
  height: 0; }

.fl {
  float: left; }

.fr {
  float: right; }

.text-overflow {
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis; }

.bg-size {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%; }

.content-box {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.webkit-box {
  display: -webkit-box; }

.box-center {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center; }

.box-vertical {
  -webkit-box-orient: vertical; }

.justify-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.display-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.box-vertical {
  -webkit-box-orient: vertical; }

.box-flex1 {
  -webkit-box-flex: 1;
  box-flex: 1; }

.text-center {
  text-align: center; }

.hide {
  display: none !important; }

a {
  text-decoration: none;
  font-size: 0.55467rem; }

.scroll {
  width: 100%;
  height: 100%;
  max-width: 414px;
  margin: 0 auto; }
  .scroll .content {
    width: 100%; }

.hidden {
  display: none; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

div, a, img {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.popup {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999; }

.ismasker {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7); }

.mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.7);
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center; }
  .mask .pop-container {
    font-size: 0;
    position: relative; }
  .mask .masker {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1000; }

::-webkit-scrollbar {
  width: 0;
  opacity: 0; }

.toast {
  position: absolute;
  left: 50%;
  top: 50%;
  border-radius: 0.128rem;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 9.81333rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 0.74667rem;
  text-align: center;
  line-height: 0.85333rem;
  font-size: 0.64rem;
  color: #fefefe;
  z-index: 1100; }

/*# sourceMappingURL=maps/common.css.map */
