.stage-3rd{
  @include bg('../images/stage3rd/bg.jpg');
  height: 100vh;
  width: 16rem;
  background-size: cover;
  position: relative;
  padding-top: 3.5rem;
  &.animate{
    animation: skeleton .75s linear forwards;
  }
  .trouble-ul{
    color: #ffffff;
    font-size: rem(26);
    text-align: center;
    >.item{
      &:not(:last-child){
        margin-bottom: 0.25rem;
      }
    }
  }
  .window-container{
    @include wh(318,420);
    overflow: hidden;
    margin: 0 auto;
    margin-top: 1.25rem;
    position: relative;
    z-index: 0;
  }
  .window-border{
    @include wh(319,420);
    @include bg('../images/stage3rd/02-01.png');
    position: relative;
    z-index: 2;
    transform: translate3d(0,0,1px);
  }
  .window-skeleton{
    @include wh(319,420);
    @include bg('../images/stage3rd/02-02.png');
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
  }
  .skeleton-enter-active, .skeleton-leave-active {
    transition: 1s;
  }
  .skeleton-enter, .skeleton-leave-to {
    transform: translate3d(0,100%,1px);
  }
  .window-bg{
    @include wh(319,420);
    @include bg('../images/stage3rd/02-03.png');
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
  }
  .scene-container{
    @include wh(750,563);
    @include bg('../images/stage3rd/03-01.png');
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
  }
  .scene-door{
    @include wh(144,476);
    @include bg('../images/stage3rd/03-02.png');
    position: absolute;
    top: -1.5rem;
    right: 0;
  }
  .scene-text{
    color: #ffffff;
    position: absolute;
    z-index: 2;
    left: 6rem;
    bottom: 6rem;
    font-size: rem(22);
    opacity: 0;
    &.animte{
      opacity: 1;
      animation: shake 1s;
    }
  }
}
@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(-5%, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(5%, 0, 0);
    transform: translate3d(5%, 0, 0);
  }
}
@keyframes skeleton{
  0%{
    transform: rotate(0) ;
  }
  10%{
    transform: rotate(5deg);
  }
  20%{
    transform: rotate(-5deg);
  }
  30%{
    transform: rotate(5deg);
  }
  40%{
    transform: rotate(-5deg);
  }
  50%{
    transform: rotate(5deg);
  }
  60%{
    transform: rotate(-5deg);
  }
  70%{
    transform: rotate(5deg);
  }
  80%{
    transform: rotate(-5deg);
  }
  90%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(0deg);
  }

}