a,
ins {
  text-decoration: none; }

a,
body {
  color: #444; }

article,
aside,
blockquote,
button,
code,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  width: 16rem;
  margin: 0 auto;
  position: relative;
  line-height: 1.25;
  -webkit-overflow-scrolling: touch;
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  outline: 0;
  font-size: .55rem;
  background: #e8eaef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.o-hide,
.text-nowrap {
  overflow: hidden; }

::-webkit-input-placeholder {
  color: #ccc; }

::-moz-input-placeholder {
  color: #ccc; }

::input-placeholder {
  color: #ccc; }

a,
em,
i,
span {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.text-l,
caption,
th {
  text-align: left; }

button,
fieldset,
img,
input,
textarea {
  border: 0; }

li,
ol,
ul {
  list-style: none; }

del {
  text-decoration: line-through; }

button,
input,
optgroup,
option,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  outline: 0; }

a {
  -webkit-touch-callout: none; }

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

em,
i {
  font-style: normal; }

.text-r {
  text-align: right; }

.text-c {
  text-align: center; }

.text-nowrap {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis; }

.vertical-t {
  vertical-align: top; }

.vertical-b {
  vertical-align: bottom; }

.vertical-m {
  vertical-align: middle; }

.clear {
  clear: both; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.d-hide {
  display: none; }

.d-show {
  display: block; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform,height;
  -webkit-transition-property: height,-webkit-transform;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-cube, .swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

body {
  padding-bottom: 0.85333rem; }

.txt-top {
  color: #fff;
  font-size: 0.384rem;
  padding-left: 0.448rem;
  position: absolute;
  left: 0;
  top: 0.21333rem; }
  .txt-top span {
    display: inline-block;
    padding: 1px;
    border: 1px solid #fff;
    border-radius: 2px;
    margin-right: 0.17067rem; }

.sec1 {
  background: url("../images/bg1.jpg") center top no-repeat;
  background-size: 100%;
  width: 16rem;
  height: 32.61867rem;
  position: relative;
  padding-top: 1.536rem; }

.invite-txt {
  color: #d6c2fb;
  font-size: 0.46933rem;
  text-align: center;
  padding-top: 0.256rem; }

.btn-rule {
  background: url("../images/btn_rule.png") center top no-repeat;
  background-size: 100%;
  width: 2.53867rem;
  height: 2.624rem;
  position: absolute;
  right: 0.192rem;
  top: 0; }

.tit-page {
  background: url("../images/tit_page.png?v=20180420") center top no-repeat;
  background-size: 100%;
  width: 12.94933rem;
  height: 6.95467rem;
  margin-left: 1.49333rem; }

.con-page {
  background: url("../images/con_page.png") center top no-repeat;
  background-size: 100%;
  width: 16rem;
  height: 16.59733rem;
  margin-top: 5.97333rem;
  padding-left: 0.72533rem;
  padding-right: 0.81067rem; }
  .con-page .con-tit {
    font-size: 0.53333rem;
    text-align: center;
    color: #debfff;
    padding-top: 1.088rem; }

.con-txt1 {
  display: -webkit-box;
  padding-top: 1.536rem; }

.con-txt2 {
  display: -webkit-box; }

.txt-flex {
  width: 50%;
  text-align: center;
  color: #333;
  font-size: 0.55467rem; }

.con-txt1 .txt-flex {
  padding-top: 4.672rem;
  padding-bottom: 0.66133rem; }

.con-txt2 .txt-flex {
  padding-top: 4.352rem;
  padding-bottom: 0.832rem; }

.comment-scroll {
  margin-top: 0.27733rem;
  padding-left: 1.92rem;
  padding-right: 1.28rem; }

.comment-barrage p span {
  color: #5e5e5e;
  font-size: 0.55467rem;
  margin-right: 0.832rem; }

.sec2 {
  background: url("../images/bg2.jpg") center top no-repeat;
  background-size: 100%;
  width: 16rem;
  height: 20.11733rem; }

.bg-tit {
  background: url("../images/bg_tit.png") center top no-repeat;
  background-size: 100%;
  width: 9.83467rem;
  height: 1.51467rem;
  margin: 0 auto;
  line-height: 1.51467rem;
  text-align: center;
  font-size: 1.024rem;
  color: #fff;
  font-weight: bold; }

.bg-info {
  background: url("../images/bg_info.png") center top no-repeat;
  background-size: 100%;
  width: 14.464rem;
  height: 13.20533rem;
  margin: 1.57867rem auto 0;
  padding: 0.32rem 0.61867rem 0 0.61867rem; }

.info-none {
  padding-top: 2.45333rem; }
  .info-none .ico-none {
    background: url("../images/none.png") center top no-repeat;
    background-size: 100%;
    width: 4.928rem;
    height: 5.248rem;
    margin: 0 auto; }
  .info-none p {
    color: #999;
    font-size: 0.64rem;
    text-align: center;
    padding-top: 0.93867rem; }

.info-item {
  display: -webkit-box;
  position: relative; }
  .info-item i {
    display: block;
    background: url("../images/ico_right.png") center top no-repeat;
    background-size: 100%;
    width: 0.256rem;
    height: 0.448rem;
    position: absolute;
    top: 50%;
    margin-top: -0.21333rem;
    right: 0; }
  .info-item .item {
    width: 50%;
    margin-bottom: 0.704rem; }
  .info-item .item-l {
    padding-top: 0.55467rem;
    padding-left: 0.14933rem; }
  .info-item .item-r {
    padding-top: 1.74933rem; }
  .info-item .p1 {
    font-size: 0.64rem;
    color: #45484c;
    padding-bottom: 0.46933rem; }
  .info-item .p2 {
    font-size: 0.55467rem;
    color: #999; }
    .info-item .p2 span {
      color: #fa5e3e; }

.info-border::before {
  content: "";
  position: absolute;
  transform-origin: 0 0;
  -webkit-transform-origin: 0 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid #e6e6e6;
  transform: scaleY(0.5);
  -webkit-transform: scaleY(0.5); }

.txt-bot {
  padding-top: 1.23733rem;
  color: #a589d9;
  text-align: center; }

.bg-bot {
  background: url("../images/bg_bot.png") center top no-repeat;
  background-size: 100%;
  width: 16rem;
  height: 2.09067rem;
  display: -webkit-box;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 9; }

.bot-l {
  width: 4.75733rem;
  text-align: center;
  color: #973233;
  line-height: 2.09067rem;
  font-size: 0.55467rem; }

.bot-l::after {
  content: "";
  display: inline-block;
  background: url("../images/ico_arrow.png") center top no-repeat;
  background-size: 100%;
  width: 0.34133rem;
  height: 0.40533rem;
  margin-left: 0.192rem;
  vertical-align: middle; }

.bot-r {
  width: 11.24267rem;
  text-align: center;
  color: #fff;
  font-weight: bold;
  line-height: 2.09067rem;
  font-size: 0.85333rem; }

.rule-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  -webkit-transform: translate3d(0, 1rem, 1px);
  transform: translate3d(0, 1rem, 1px);
  -webkit-transition: .25s;
  transition: .25s; }

.rule-modal.slide-in {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
  opacity: 1; }

.rule-modal.slide-out {
  -webkit-transform: translate3d(0, 1rem, 1px);
  transform: translate3d(0, 1rem, 1px);
  opacity: 0; }

.rule-modal .rule-modal-container {
  position: relative; }

.rule-modal .rule-modal-item {
  padding: 0 1.49333rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.rule-modal .rule-modal-item .gray {
  color: #999; }

.rule-modal .rule-modal-scroll-item {
  height: auto;
  margin-top: 1.5rem; }

.rule-modal .rule-modal-icon {
  display: block; }

.rule-modal .rule-modal-icon.n1 {
  width: 6.08rem;
  height: 4.97067rem;
  background: url(../images/rule-icon1.png) top no-repeat;
  background-size: 100%;
  margin: 0 auto; }

.rule-modal .rule-modal-icon.n2 {
  width: 6.08rem;
  height: 4.97067rem;
  background: url(../images/rule-icon2.png) top no-repeat;
  background-size: 100%;
  margin: 0 auto; }

.rule-modal .rule-modal-icon.n3 {
  width: 6.08rem;
  height: 4.97067rem;
  background: url(../images/rule-icon3.png) top no-repeat;
  background-size: 100%;
  margin: 0 auto; }

.rule-modal .rule-modal-icon.n4 {
  width: 6.08rem;
  height: 4.97067rem;
  background: url(../images/rule-icon4.png) top no-repeat;
  background-size: 100%;
  margin: 0 auto; }

.rule-modal .rule-modal-title {
  font-weight: 700;
  text-align: center;
  font-size: .75rem;
  margin: 1.38667rem 0 0.85333rem 0; }

.rule-modal .rule-modal-ul {
  text-align: justify;
  word-break: break-all; }

.rule-modal .rule-modal-ul > .item:not(:last-child) {
  margin-bottom: .75rem; }

.rule-modal .rule-ownership {
  color: #999;
  text-align: center;
  margin-top: .75rem;
  font-size: .525rem; }

.rule-modal .rule-modal-table-wrapper {
  border: 1px solid #d1d1d1;
  border-radius: .25rem;
  overflow: hidden; }

.rule-modal .rule-modal-table {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  text-align: center;
  font-size: .6rem;
  padding: .5rem 0;
  background: #fff; }

.rule-modal .rule-modal-table:not(:last-child) {
  border-bottom: 1px solid #e6e6e6; }

.rule-modal .rule-modal-table.title {
  background: #fff9db;
  color: #fa0;
  border-bottom: 1px; }

.rule-modal .rule-modal-table-cell {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  -webkit-flex: 1;
          flex: 1; }

.rule-modal .rule-modal-dl {
  background: #fff9db;
  color: #fa0;
  padding: .5rem;
  border-radius: .25rem;
  text-align: justify;
  font-size: 0; }

.rule-modal .rule-modal-dl-dt {
  display: inline-block;
  vertical-align: top;
  width: 2rem;
  font-size: .6rem; }

.rule-modal .rule-modal-dl-dd {
  display: inline-block;
  vertical-align: top;
  width: 9.25rem;
  font-size: .6rem; }

.rule-modal .rule-modal-close {
  width: 1.92rem;
  height: 1.92rem;
  background: url(../images/rule-close.png) top no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-top: .65rem; }

.rule-modal .rule-modal-close.hide {
  opacity: 0; }

.rule-modal .rule-modal-prev {
  width: 2.02666667rem;
  height: 1.57866667rem;
  background: url(../images/rule-prev.png) top no-repeat;
  background-size: 100%;
  position: absolute;
  top: 4rem;
  left: 0;
  z-index: 3;
  -webkit-animation: b 1.5s linear infinite;
  animation: b 1.5s linear infinite; }

.rule-modal .rule-modal-prev.hide {
  opacity: 0; }

.rule-modal .rule-modal-next {
  width: 2.02666667rem;
  height: 1.57866667rem;
  background: url(../images/rule-next.png) top no-repeat;
  background-size: 100%;
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 3;
  -webkit-animation: c 1.5s linear infinite;
  animation: c 1.5s linear infinite; }

.rule-modal .rule-modal-next.hide {
  opacity: 0; }

@-webkit-keyframes b {
  0%,
  20% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  35% {
    -webkit-transform: translateX(0.1rem);
    transform: translateX(0.1rem); }
  50% {
    -webkit-transform: translateX(-0.2rem);
    transform: translateX(-0.2rem); }
  65% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  80% {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes b {
  0%,
  20% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  35% {
    -webkit-transform: translateX(0.1rem);
    transform: translateX(0.1rem); }
  50% {
    -webkit-transform: translateX(-0.2rem);
    transform: translateX(-0.2rem); }
  65% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  80% {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@-webkit-keyframes c {
  0%,
  20% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  35% {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem); }
  50% {
    -webkit-transform: translateX(0.2rem);
    transform: translateX(0.2rem); }
  65% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  80% {
    -webkit-transform: translateX(0.1rem);
    transform: translateX(0.1rem); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

@keyframes c {
  0%,
  20% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  35% {
    -webkit-transform: translateX(-0.1rem);
    transform: translateX(-0.1rem); }
  50% {
    -webkit-transform: translateX(0.2rem);
    transform: translateX(0.2rem); }
  65% {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  80% {
    -webkit-transform: translateX(0.1rem);
    transform: translateX(0.1rem); }
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0); } }

.down-arrow {
  width: .85333333rem;
  height: .87466667rem;
  background: url(../images/down-arrow.png) top no-repeat;
  background-size: 100%;
  position: fixed;
  z-index: 5;
  bottom: 1rem;
  left: 7.5rem;
  -webkit-animation: d 1.5s linear infinite;
  animation: d 1.5s linear infinite; }

@-webkit-keyframes d {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem); }
  to {
    opacity: 0;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem); } }

@keyframes d {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem); }
  to {
    opacity: 0;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem); } }

.wxShare-modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  z-index: 10;
  -webkit-animation: d .25s forwards;
  animation: d .25s forwards; }

.wxShare-modal .wxShare-img {
  width: 10.304rem;
  height: 14.03733333rem;
  background: url(../images/wxShare.png) top no-repeat;
  background-size: 100%;
  margin: 0 auto;
  margin-top: 1rem; }

@-webkit-keyframes d {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes d {
  0% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95); }
  to {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes e {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem); }
  to {
    opacity: 0;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem); } }

@keyframes e {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    transform: translateY(0); }
  50% {
    opacity: 1;
    -webkit-transform: translateY(0.25rem);
    transform: translateY(0.25rem); }
  to {
    opacity: 0;
    -webkit-transform: translateY(0.5rem);
    transform: translateY(0.5rem); } }

.scale {
  -webkit-animation: scale 1s ease-out both;
  animation: scale 1s ease-out both; }

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(1, 1); } }

@keyframes scale {
  0% {
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }
