@charset "UTF-8";
@import "../variables";
@import "../../../../sass/func";
@import "sprite";

.approve-content {
    [class^='icon-'] {
        position: absolute;
        top: 50%;
        left: pxToRem(30px);
        transform: translate(0, -50%);
    }
    .broadcast {
        position: relative;
        background-color: #fffbf0;
        height: pxToRem(60px);
        line-height: pxToRem(60px);
        font-size: pxToRem(24px);
        color: $txt-yellow-dark;
        padding-left: pxToRem(74px);
    }
    .icon-bell {
        transform: translate(0, -45%);
    }
    .icon-arrow-y,
    .icon-arrow {
        left: auto;
        right: pxToRem(30px);
    }
    .tip {
        padding: pxToRem(20px) pxToRem(30px);
    }
    @at-root .list-approve {
        background-color: $bg-white;
        &>li {
            position: relative;
            height: pxToRem(140px);
            padding-left: pxToRem(98px);
            font-size: 0;
            color: $txt-grey-darker;
            white-space: nowrap;
            &.border:after {
                @include border(bottom, $border-color-grey);
                left: pxToRem(98px);
            }
            @at-root .not-perfect {
                [class^='icon-'] {
                    filter: grayscale(1);
                }
                .status {
                    color: #ff6c3c;
                }
            }
        }
        .middle-part {
            display: inline-block;
            width: pxToRem(492px);
            div {
                font-size: pxToRem(30px);
                color: $txt-black;
                padding: pxToRem(38px) 0 pxToRem(14px);
            }
            p {
                font-size: pxToRem(24px);
            }
        }
        @at-root .status {
            float: right;
            display: inline-block;
            width: pxToRem(160px);
            height: pxToRem(140px);
            line-height: pxToRem(140px);
            text-align: right;
            padding-right: pxToRem(60px);
            font-size: pxToRem(24px);
            vertical-align: top;
        }
    }
    .btn {
        margin: pxToRem(20px) auto pxToRem(10px);
        &.fail {
            color: #fd6040;
            background-color: #f3ebe9;
        }
    }
}

.am-content {
    @at-root .bg-approve {
        width: pxToRem(690px);
        height: pxToRem(250px);
        color: $txt-white;
        background: url(../../images/bg-approve.png) no-repeat center;
        background-size: contain;
        margin: pxToRem(40px) pxToRem(30px) pxToRem(40px);
        padding: pxToRem(60px) pxToRem(70px);
        font-size: pxToRem(46px);
        p {
            padding-bottom: pxToRem(38px);
        }
        span {
            font-size: pxToRem(30px);
            padding-right: pxToRem(20px);
        }
    }
    .info {
        // text-align: center;
        color: $txt-black;
        font-size: pxToRem(24px);
        padding-left: pxToRem(100px);
        margin-bottom: pxToRem(92px);
        .icon-fail {
            width: pxToRem(40px);
            height: pxToRem(40px);
            vertical-align: middle;
        }
    }
    .step0 {
        border-top: pxToRem(20px) solid $bg-grey;
    }
    .step1 {
        @extend .step0;
        .tip {
            height: pxToRem(100px);
            line-height: pxToRem(100px);
            padding-left: pxToRem(30px);
        }
    }
    .link {
        display: block;
        margin: pxToRem(36px) auto;
        text-align: center;
        font-size: pxToRem(26px);
        width: pxToRem(240px);
        color: $txt-grey-darker;
    }
    .link-yellow {
        @extend .link;
        color: $txt-yellow-dark;
    }


    @at-root .apr-result {
        width: pxToRem(690px);
        height: pxToRem(380px);
        margin: pxToRem(30px) auto pxToRem(60px);
        padding: pxToRem(70px) pxToRem(46px) 0;
        background-color: $bg-white;
        border-radius: pxToRem(8px);
        color: $txt-black-light;
        box-shadow: 0 pxToRem(10px) pxToRem(20px) 0 rgba(214, 214, 214, .3);
        .result-info {
            font-size: pxToRem(36px);
            margin-bottom: pxToRem(68px);
        }
        .icon-success {
            vertical-align: middle;
        }
        .icon-fail {
            vertical-align: middle;
            margin: 0 pxToRem(10px) 0;
        }
        p {
            font-size: pxToRem(30px);
            padding-left: pxToRem(86px);
            margin-bottom: pxToRem(36px);
            color: $txt-grey-darker;
        }
        span {
            color: #333;
        }
    }
}

.az-content {
    text-align: justify;
    .icon-zhima {
        margin: pxToRem(208px) auto pxToRem(220px);
    }
    .prompt {
        @extend .tip;
        margin-bottom: pxToRem(40px);
        padding: 0 pxToRem(30px);
    }
    .bg-zm {
        background: url(../../images/bg-zm.png) no-repeat top;
        background-size: 100% 100%;
        width: pxToRem(750px);
        height: pxToRem(899px);
        margin-bottom: pxToRem(110px);
    }
    @at-root .txt-line {
        color: $txt-white;
        font-size: pxToRem(34px);
        text-align: center;
        padding: pxToRem(140px) 0 pxToRem(60px);
        &:before,
        &:after {
            content: '';
            display: inline-block;
            background-repeat: no-repeat;
            background-position: center;
            vertical-align: super;
            margin: 0 pxToRem(28px);
            @extend .icon-line;
        }
        &:after {
            transform: scale(-1, 1);
        }
    }
    .bg-zm-score {
        background: url(../../images/circle.png) no-repeat top;
        background-size: contain;
        width: pxToRem(462px);
        height: pxToRem(462px);
        margin: 0 auto;
        color: $txt-white;
        text-align: center;
        padding-top: pxToRem(130px);
        p {
            font-size: pxToRem(34px);
            padding-bottom: pxToRem(20px);
        }
        .score {
            font-size: pxToRem(88px);
            padding-bottom: pxToRem(20px);
        }
        span {
            display: block;
            font-size: pxToRem(24px);
        }
    }
}

.ae-content {
    .icon-eqb {
        margin: pxToRem(140px) auto pxToRem(40px);
    }
    .prompt {
        @extend .tip;
        margin-bottom: pxToRem(158px);
        text-align: center;
    }
}

.ai-content {
    h3 {
        padding: pxToRem(40px) pxToRem(30px);
        font-size: pxToRem(30px);
        color: $txt-black-light;
    }
    .apr-id-wrapper {
        position: relative;
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: pxToRem(510px);
        height: pxToRem(304px);
        margin: pxToRem(20px) auto;
        border-radius: pxToRem(10px);
        overflow: hidden;
        img {
        	width: 100%;
        	height: 100%;
        }
        .icon-camera {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }
        &.front {
            background-image: url(../../images/id-front.png);
        }
        &.back {
            background-image: url(../../images/id-back.png);
        }
        &.id-loading,
        &.fail {
            .icon-camera {
                display: none;
            }
            &:before {
                content: '上传中...';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                border-radius: pxToRem(10px);
                background-color: rgba(0, 0, 0, .7);
                color: $txt-white;
                font-size: pxToRem(26px);
                text-align: center;
                line-height: pxToRem(265px * 2);
                z-index: 9;
            }
            &:after {
                position: absolute;
                content: '';
                background: url(../../images/id-refresh.png) no-repeat center;
                width: pxToRem(154px);
                height: pxToRem(154px);
                border-radius: pxToRem(154px);
                background-color: rgba(0, 0, 0, .55);
                background-size: pxToRem(90px), pxToRem(77px);
                top: 50%;
                left: 50%;
                margin-top: pxToRem(-77px);
                margin-left: pxToRem(-77px);
                animation: rotating .6s linear infinite;
                z-index: 9;
            }
        }
        &.fail {

            &:before {
                content: '上传失败，点击重新上传';
            }
            &:after {
                animation: none;
            }
        }
    }
    .tip {
        text-align: center;
        padding: pxToRem(10px) 0 pxToRem(80px);
    }
    .btn {
        margin: pxToRem(30px) auto;
    }
}

.al-content {
    .tip {
        height: pxToRem(60px);
        line-height: pxToRem(60px);
        padding-left: pxToRem(30px);
    }
    @at-root .form-link {
        padding-left: pxToRem(30px);
        background-color: $bg-white;
    }
    .icon-gps {
        position: absolute;
        right: pxToRem(30px);
        top: pxToRem(28px);
    }
    .btn {
        margin-top: pxToRem(40px);
    }
}

.pop-ids {
    top: pxToRem(80px);
    display: none;
    .tip {
        padding-left: pxToRem(30px);
        height: pxToRem(86px);
        line-height: pxToRem(86px);
    }
    .icon-warn {
        vertical-align: middle;
        margin-right: pxToRem(12px);
    }
    .icon-arrow {
        position: absolute;
        top: 50%;
        right: pxToRem(30px);
        transform: translate(0, -50%);
    }
    .list-info {
        background-color: $bg-white;
        padding-left: pxToRem(30px);
        font-size: 0;
        &>li {
            position: relative;
            height: pxToRem(90px);
            line-height: pxToRem(90px);
            font-size: pxToRem(30px);
            color: #333;
            &:not(:last-child) {
                &:after {
                    @include border(bottom, #e6e6e6);
                }
            }
        }
        span {
            display: inline-block;
            width: pxToRem(180px);
        }
        div {
            display: inline-block;
            height: 100%;
            input {
                width: 100%;
                height: 100%;
                border: 0;
                background-color: transparent;
                outline: none;
                -webkit-highlight: none;
                color: #333;
                font-size: pxToRem(30px);
            }
        }
    }
    .item-status {
        position: relative;
        height: pxToRem(90px);
        line-height: pxToRem(90px);
        font-size: pxToRem(30px);
        color: #333;
        background-color: #fff;
        padding-left: pxToRem(30px);
        margin: pxToRem(30px) 0;
    }
    .status {
        height: pxToRem(90px);
        line-height: pxToRem(90px);
    }
}
// .pop-relation {
// 	display: none;
// 	.wrapper {
// 		position: absolute;
// 		width: pxToRem(600px);
// 		background-color: $bg-white;
// 		border-radius: pxToRem(10px);
// 		top: 50%;
// 		left: 50%;
// 		transform: translate(-50%, -70%);
// 		z-index: 1000;
// 	}
// 	h2 {
// 		font-size: pxToRem(34px);
// 		color: #333;
// 		text-align: center;
// 		height: pxToRem(90px);
// 		line-height: pxToRem(90px);
// 		font-weight: bolder;
// 		position: relative;
// 		&:before {
// 			@include border(bottom, #e0e0e0);
// 		}
// 	}
// 	ul {
// 		padding-left: pxToRem(40px);
// 		li {
// 			position: relative;
// 			height: pxToRem(100px);
// 			line-height: pxToRem(100px);
// 			font-size: pxToRem(30px);
// 			color: #333;
// 			&:after {
// 				@include border(bottom, #e0e0e0);
// 			}
// 		}
// 	}
// }

.form {
    padding-left: pxToRem(30px);
    margin-bottom: pxToRem(80px);
    background-color: $bg-white;
}

.tip {
    line-height: pxToRem(40px);
    font-size: pxToRem(26px);
    color: $txt-grey-darker;
    &.red {
        color: #fd6040;
        text-align: center;
    }
}

// 输入框
.input-wrapper {
    position: relative;
    height: pxToRem(100px);
    line-height: pxToRem(100px);
    font-size: 0;
    &:after {
        @include border(bottom, $border-color-grey);
    }
    .not-input {
        height: pxToRem(100px);
        line-height: pxToRem(100px);
        display: inline-block;
        width: pxToRem(516px);
        font-size: pxToRem(30px);
        color: #ccc;
        &.inputed {
            color: #333;
        }
    }
    .icon-arrow {
        position: absolute;
        top: 50%;
        right: pxToRem(30px);
        transform: translate(0, -50%);
    }
}

input[type='file'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
}
.liveness-modal {
	.upload-input {
		display: block !important;
		top: auto;
		bottom: 20px;
		left: 0;
		right: 0 !important;
		height: 45px;
	}
}
.pop-loading {
    background-color: $bg-white;
    top: pxToRem(80px);
    @at-root .wrapper-approving {
        position: absolute;
        top: 50%;
        right: 0;
        left: 0;
        text-align: center;
        transform: translate(0, -100%);
        .icon-loading {
            vertical-align: sub;
            animation: rotating .6s linear infinite;
        }
        span {
            margin-left: pxToRem(16px);
        }
        .wrapper-loading {
            font-size: pxToRem(36px);
            color: $txt-black-light;
            margin-bottom: pxToRem(60px);
        }
        p {
            font-size: pxToRem(30px);
            color: $txt-grey-darker;
        }
    }
}
.pop-video-tip {
    .dialog-wrapper {
        padding: pxToRem(60px);

    }
    img {
        width: pxToRem(200px);
        padding-bottom: pxToRem(60px);
        // height: pxToRem(200px);
    }
    .btn-full-round {
        position: relative;
        color: $txt-white;
        font-size:  pxToRem(34px);
        margin-top: pxToRem(60px);
    }
    font {
        color: #ff7053;
    }
    p {
        line-height: pxToRem(50px);
        font-size: pxToRem(30px);
    }
}

//银行存管
.ab-content {
    .tip {
        padding: pxToRem(30px) pxToRem(45px) pxToRem(30px) pxToRem(80px);
        font-size: pxToRem(24px);
        line-height: pxToRem(36px);
        position: relative;
        .icon-warn {
           position: absolute;
           left: pxToRem(30px);
           top: pxToRem(30px);
        }
    }
    .btn {
        margin-top: pxToRem(40px);
    }
}

.orange-tips {
    width: 100%;
    padding: pxToRem(30px);
    font-size: pxToRem(24px);
    line-height: pxToRem(36px);
    color: #fa7d00;
    background-color: #fffaeb;
    margin-bottom: pxToRem(20px);
}

// icons
.icon-fail {
    @include icon-background("../../images/fail.png", 57px, 64px);
}

.icon-success {
    @include icon-background("../../images/success.png", 76px, 76px);
}

.icon-loading {
    @include icon-background("../../images/loading.png", 40px, 40px);
}

.icon-line {
    @include icon-background("../../images/line.png", 106px, 2px);
}

.icon-zhima {
    @include icon-background("../../images/zhima.png", 247px, 288px);
}

.icon-camera {
    @include icon-background("../../images/camera.png", 206px, 206px);
}

.icon-warn {
    @include icon-background("../../images/warn.png", 48px, 48px);
}

.icon-gps {
    @include icon-background("../../images/gps.png", 34px, 42px);
}

// animation
.animated {
    animation-duration: 0.6s;
    animation-fill-mode: both;
}

