@charset "utf-8";
html,body,h1,h2,h3,p,span,a,div,ol,ul,li,dl,dt,dd,table,tbody,tfoot,thead,tr,th,td,input,textarea, form,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section { margin: 0; padding: 0; font-family: 'Microsoft Yahei', Arial, Verdana, Helvetica, sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0); color: #212121;box-sizing: border-box;font-size: 24px;line-height: 48px;}
body { background: #fff; -webkit-text-size-adjust: none; width: 100%;height:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);-webkit-user-select:none}
em, i, b, strong { font-style: normal; font-weight: normal;}
input, textarea { outline: 0;}
input,textarea,select{-webkit-border-radius: 0; appearance:none;-moz-appearance:none; -webkit-appearance:none;}
ul, li {list-style: none;}
fieldset{border: none;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display: block;}
img {  border:0; -ms-interpolation-mode:bicubic; max-width:100%; vertical-align:middle;}
a{text-decoration: none; color: #212121;}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color: #ababab;}
input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
    }

table { border-collapse:collapse; border-spacing:0; }
div,p{max-height: 99999px;}

.lf{float:left;}
.rf{float:right;}
.clearfix {zoom:1;}
.clearfix:after{content:'.'; display:block; visibility:hidden; clear:both; height:0;}
.w50p{width: 50%;}

.text-center{text-align: center;}
.margin-auto{margin: 0 auto;}
.c-fff{color: #fff !important;}
.mt18{margin-top: 18px;}

.sec01{padding-top: 34px;background: url(../images/bg.png) no-repeat;background-size: 100% auto;}
.sec02{padding-top: 15px;}
.sec03{padding-bottom: 50px;padding-top: 14px;}
.sec04{padding-top: 14px;}
.sec05{padding-bottom: 3px;}
.sec07{padding-bottom: 60px;}
.p1_1{line-height: 66px;font-size: 30px;}
.p1_2{line-height: 88px;font-size: 70px; text-shadow: 0px 2px 10px rgba(0, 135, 184, 0.3);}
.lqBox{margin-top: 59px;}
.lqBox .lq_p1{font-size: 26px;line-height: 36px;color: #fff;}
.lqBox .lq_p2{font-size: 34px;line-height: 40px;color: #fff;}
.lqSlide{padding: 34px 20px 0 22px;}

.split{height: 60px;position: relative;padding-top: 27px;}
.split1{margin-top: -4px;}
.st_p1{color: #808080;font-size: 30px;line-height: 58px;}
.st_p2{color: #10b4f1;font-size: 60px;line-height: 75px; text-shadow: 0px 2px 10px rgba(0, 135, 184, 0.3);}
.st_p3{color: #ff781c;font-size: 60px;line-height: 75px; text-shadow: 0px 3px 6px rgba(196, 79, 0, 0.3);}

.frame{background:url(../images/frame.png) no-repeat;}
.frame5 div p:first-child{color: #fff;}
.frame5 div p:last-child{color: #fff;line-height: 37px;font-size: 30px;}
.frame5{height:197px;width:700px;background-position:0 0;margin: 32px auto 0;display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: justify;padding: 8px 43px 0 43px;}
.frame1{height:284px;width:708px;background-position:0 -197px;}
.frame2{height:284px;width:708px;background-position:0 -481px;}
.frame3{height:324px;width:708px;padding-top: 0;position: relative;}

.imgLine{background:url(../images/imgLine.png)  no-repeat;}
.imgLine2{height:156px;width:3px;background-position:0 0;}
.imgLine1{height:3px;width:606px;background-position:0 -156px;}
.imgLine3{height:2px;width:689px;background-position:0 -159px;}

.ico{background:url(../images/ico.png)  no-repeat;}
.ico_wran{height:25px;width:24px;background-position:0 0;display: inline-block;margin-left: 10px;vertical-align: -4px;}
.ico_wran2{height:25px;width:24px;background-position:0 -25px;display: inline-block;margin-left: 10px;vertical-align: -4px;}
.minus{height:4px;width:28px;background-position:0 -50px;}
.add{height:28px;width:28px;/*background-position:0 -54px;*/background: url(../images/add.png) no-repeat;}
.ico_bgright{height:60px;width:30px;background-position:0 -82px;position: absolute;top: 0;right: 0;}
.ico_bgleft{height:60px;width:30px;background-position:0 -142px;position: absolute;top: 0;left: 0;}


.lqIncome{margin-top: 49px;position: relative;margin-bottom: 70px;}
.lqi_l{padding-left: 69px;}
.lqi_r{padding-left: 40px;}
.lqi_p1{font-size: 26px;margin-bottom: 26px;}
.lqi_l .lqi_p1{color: #ffb339;}
.lqi_r .lqi_p1{color: #10b4f1;}
.lqi_p2,.lqi_p3{font-size: 24px;color: #808080;}
.lqi_p2{margin-bottom: 15px;}
.lqi_p3{margin-bottom: 38px;}
.lqi_p2 i,.lqi_p3 i{display: inline-block;width: 16px;height: 16px;border-radius: 50%;background: #ffb339;margin-right: 15px;}
.lqi_p2 span,.lqi_p3 span{color: #212121;margin-left: 19px;}
.lqi_p3 i{background: #ff781c;}
.lqiBar{width: 265px;height: 20px;background: #ff781c;border-radius: 10px;position: relative;box-shadow: 0px 3px 6px 0px rgba(196, 79, 0, 0.3);}
.lqiBarPer{height: 20px;border-radius: 10px;position: absolute;top: 0;left: 0;background: #ffb339;}
/*.xAxis{padding: 24px 30px 52px 84px;}
.xAxis div{color: #808080;}*/

.markRound{display: inline-block;width: 16px;height: 16px;border-radius: 50%;margin-right: 14px;}
.f_mark1{background: linear-gradient(#fdbf16,#fb8b38);}
.f_mark2{background: linear-gradient(#70ebfe,#05b1f1);}
.markOrange{background: #ffb339;}
.markRed{background: #ff781c;}
.markPurple{background: #97a7e7;}
.markGreen{background: #2ab8aa;}

.frame_row{padding-top: 34px;}
.lfBox{width: 236px;}
.lfBox p:first-child{padding-left: 52px;font-size: 24px;color: #808080;line-height: 41px;}
.lfBox p:last-child{padding-left: 82px;font-size: 24px;color: #212121;line-height: 38px;}
.pagination1{margin-top: 2px;text-align: center;}
.pagination1 span{width: 14px;height: 14px;background: #e6e6e6;opacity: 1;margin: 0 10px;}
.pagination1 span.swiper-pagination-bullet-active{width: 14px;height: 14px;background: #10b4f1;}

.otherIncome{padding: 44px 20px 41px 22px;}
.oiBar{width: 610px;height: 20px;background: #eee;border-radius: 10px;margin: 0 auto;position: relative;box-shadow: 0px 3px 6px 0px rgba(196, 79, 0, 0.3);}
.oiBarNone{box-shadow: 0px 3px 6px 0px rgba(102,102,102,0.3);}
.oiBarPer{height: 20px;border-radius: 10px;position: absolute;top: 0;left: 0;}
.hbBar{background: #ffb339;z-index: 3;}
.investBar{background: #ff781c;z-index: 2;}
.inviteBar{background: #97a7e7;z-index: 1;}

/*.payBox{padding: 30px 0 11px 0;}
.pb_p1{line-height: 43px;font-size: 24px;}
.pb_p2{line-height: 46px;font-size: 34px;}
.payBox .lf p{color: #ffb339;}
.payBox .rf p{color: #109af1;}*/
/*.paySlide{padding: 0 20px 0 22px;}*/
.chartLable{position: absolute;top: 55px;left: 436px;}
.chartLable p{color: #808080;margin-bottom: 15px;}
.chartLable p span.chartNum{margin-left: 19px;}
.chartBox{height: 246px;width: 313px;position: absolute;top: 52px;left: 60px;}
.chartImg{position: absolute;bottom: 21px;left: 68px;width: 230px;}
.chartRed{background: url(../images/red.png) no-repeat;background-size: 100% 100%;}
.chartOrange{background: url(../images/orange.png) no-repeat;background-size: 100% 100%;}
.chartPurple{background: url(../images/purple.png) no-repeat;background-size: 100% 100%;}
.chartGreen{background: url(../images/green.png) no-repeat;background-size: 100% 100%;}
.chartLineBox{height: 48px;position: relative;padding: 24px 0 0 54px;margin-bottom: 51px;}
.chartLineBox span{color: #808080;font-size: 20px;position: absolute;top: 0;left: 0;display: block;height: 48px;line-height: 48px;}
.chartLine{height: 3px;width: 260px;background: #f4f4f4;}

.dayCount{height: 51px;line-height: 51px;}
.dayCount span{display: inline-block;width: 36px;height: 43px;line-height: 43px;text-align: center;background: url(../images/dayFrame.png) no-repeat;margin: 0 5px;font-size: 28px;color: #fd6040;}

.incomePart{margin-top: -1px;position: relative;padding: 0 30px;}
.partOpt{padding-top: 8px;padding-bottom: 31px;}
.bre6{border-right: 1px solid #e6e6e6;}
.partOpt p:first-child{color: #999;}
.partOpt p:last-child{color: #333;font-size: 36px;line-height: 64px;}
.partCenter{width: 60px;height: 60px;position: absolute;left: 50%;top: 50%;margin-left: -30px;margin-top: -30px;background: #fff;z-index: 2;display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;}
.partCenter i{display: block;width: 6px;height: 6px;background: #e6e6e6;border-radius: 50%;}
.incomePart .imgLine3{position: absolute;top: 150px;left: 50%;margin-left: -345px;}
