.icon-r1 {
  display: block;
  background-image: url(../images/b/sprite.png);
  background-size: pxToRem(356px)  pxToRem(234px);
  background-repeat:no-repeat;
  background-position: pxToRem(0px) pxToRem(0px);
  width: pxToRem(112px);
  height: pxToRem(112px);
}
.icon-r2 {
  display: block;
  background-image: url(../images/b/sprite.png);
  background-size: pxToRem(356px)  pxToRem(234px);
  background-repeat:no-repeat;
  background-position: pxToRem(-122px) pxToRem(0px);
  width: pxToRem(112px);
  height: pxToRem(112px);
}
.icon-r3 {
  display: block;
  background-image: url(../images/b/sprite.png);
  background-size: pxToRem(356px)  pxToRem(234px);
  background-repeat:no-repeat;
  background-position: pxToRem(0px) pxToRem(-122px);
  width: pxToRem(112px);
  height: pxToRem(112px);
}
.icon-r4 {
  display: block;
  background-image: url(../images/b/sprite.png);
  background-size: pxToRem(356px)  pxToRem(234px);
  background-repeat:no-repeat;
  background-position: pxToRem(-122px) pxToRem(-122px);
  width: pxToRem(112px);
  height: pxToRem(112px);
}
.icon-r5 {
  display: block;
  background-image: url(../images/b/sprite.png);
  background-size: pxToRem(356px)  pxToRem(234px);
  background-repeat:no-repeat;
  background-position: pxToRem(-244px) pxToRem(0px);
  width: pxToRem(112px);
  height: pxToRem(112px);
}
.icon-r6 {
  display: block;
  background-image: url(../images/b/sprite.png);
  background-size: pxToRem(356px)  pxToRem(234px);
  background-repeat:no-repeat;
  background-position: pxToRem(-244px) pxToRem(-122px);
  width: pxToRem(112px);
  height: pxToRem(112px);
}
