@charset "utf-8";
@import (inline) './reset.css';
.remW(@n){
  width: @n*16/750rem;
}
.remH(@n){
  height: @n*16/750rem;
}
.remWH(@w,@h){
  width: @w*16/750rem;
  height: @h*16/750rem;
}
.bgURI(@uri){
  background: url(@uri) center top no-repeat;
  background-size: 100%;
}
.initURI(){
  background-position: center top;
  background-repeat: no-repeat;
  background-size: 100%;
}
