div,p{max-height: 99999px;}
.rotateZ0{-webkit-transform: rotateZ(0);}
.rotateZ90{-webkit-transform: rotateZ(90deg);}
.questionWrap ul li:last-child{border-bottom: 0;}
.questionWrap ul li i{display: inline-block;width: 7px;height: 9px;background: url(/javaProject/imgs/images/ico-triangle-r.png) no-repeat;background-size: 100% 100%;margin-right: 15px;vertical-align: 3px;transition: transform 0.2s linear;}
.questionWrap ul li i.icon-round{width: 7px;height: 7px;background: url(/javaProject/imgs/yuan_gray.png) no-repeat;background-size: 100% 100%;margin-right: 15px;vertical-align: 3px;}
.questionWrap ul li .arrow-right{width: 7px;height: 13px;background: url(/javaProject/imgs/ico_arrow_r3.png) no-repeat;background-size: 100% 100%;position: absolute;right: 15px;top: 23px;}