<!DOCTYPE html>
<html lang="zh">
<head>
  <title>Doc</title>
  {{> './tpls/head.html'}}
</head>
<body>
  <div class="container">
    <section class="question">
        <div class="title"></div>
        <div class="content">
          <dl>
            <dt>
              <p>Q：为什么会有冲刺榜和英壕榜两个榜单？</p>
            </dt>
            <dd>
              <p>A：英壕榜展示符合活动奖励资格的用户排名，进入该榜单的用户只要保持排名至活动结束，就可以获得活动奖励；冲刺榜展示0<累计签到天数<15，且当月累计投资额前60的用户排名，签到未满足活动要求的用户可以在冲刺榜了解自己当前排名，继续签到争取进入英壕榜赢取活动奖励哦~</p>
            </dd>
            <dt>
                <p>Q：活动期间， 我的累计投资额与别人一样，为什么他的排名在我前面？</p>
            </dt>
            <dd>
              <p>A：当累计投资金额相同时，根据签到天数排名，签到天数多的排名靠前；若累计投资金额与签到天数皆相同，则按最后一笔投资时间排名，投资较早的排名靠前。</p>
              <p>比如：ABC三个人累计投资金额相同，A签到天数比较多，则A排在BC前面，BC签到天数相同，B最后一笔投资时间比C早，则B排在C前面。为了抢占排名，可以坚持签到尽早投资哦~</p>
            </dd>
            <dt>
              <p>Q：断签后使用补签卡还能加入到累计签到天数里吗？</p>
            </dt>
            <dd>
              <p>
                  A：可以的。
              </p>
            </dd>
            <dt>
              <p>Q：通过本活动邀请好友，能享受邀请有礼奖励吗？</p>
            </dt>
            <dd>
              <p>A：可以的。通过本活动分享链接成功邀请好友注册的用户可以同享邀请有礼4重礼奖励，详情可见邀请有礼活动页。 </p>
            </dd>
          </dl>
        </div>
    </section>
    <footer>
        <p>在法律许可的合法范畴内，本活动最终解释权归团贷网所有。</p>
        <p>*本次活动与苹果公司无关</p>
    </footer>
  </div>
  <!-- webpack js -->
  {{#each htmlWebpackPlugin.files.js}}<script src="{{this}}"></script>{{/each}}
  <!-- webpack js end-->
</body>
</html>