@charset "UTF-8";
$default-color: #fff;
$bg-grey-color: #f2f2f2;
$bg-orange-color: #f89f03;
$bg-yellow-color: #ffb400;
$txt-orange-color: #b29559;
$txt-black-color: #333;
$txt-grey-color: #999;
$border-yellow-color: #ffe400;
$border-grey-color: #e8e8e8;
