@charset "UTF-8";
@import "variables";
@import "icons";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

* {
    box-sizing: border-box;
    border: 0;
    padding: 0;
    &:focus {
        outline: none
    } 
}

i,
span,
a,{
    display: inline-block;
}

.abs{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.mask {
    @extend .abs;
    // z-index: 30;
    background-color: rgba(0, 0, 0, .6);
}

.masker{
    @extend .mask;
    background: rgba(0,0,0,0);
    // z-index: 100;
}

::-webkit-scrollbar {
    //滚动条不可见
    display: none;
}
// 最大宽度
$max-width: pxToRem(750px);

.content {
    position: relative;
    width: 100%;
    height: 100%;
    max-width: $max-width;
    margin:0 auto;
    overflow: auto;
    overflow-x: hidden;
    padding: pxToRem(490px) 0 pxToRem(96px);
    font-size: 0;
}
// banner
.banner{
    position: absolute;
    top: 0;
    max-width: $max-width;
    height: pxToRem(360px);
    img{
        width: 100%;
    }
    // 搜索
    .search-con{
        position: absolute;
        left: 50%;
        width: pxToRem(556px);
        height: pxToRem(60px);
        top: pxToRem(30px);
        transform: translate(-50%, 0);
        background: $default-color;
        // padding: 0 pxToRem(106px) 0 pxToRem(16px) ;
        padding-left: pxToRem(16px);
        border-radius: pxToRem(30px);
        z-index: 10;
        white-space: nowrap;
        .search-txt{
            line-height: pxToRem(60px);
            margin: 0 pxToRem(16px);
            width: pxToRem(380px);
            color: $txt-grey-color;
            font-size: pxToRem(22px);
            vertical-align: middle;
        }
        .search-btn{
            position: absolute;
            right: pxToRem(8px);
            top: 50%;
            transform: translate(0, -50%);
            height: pxToRem(36px);
            line-height: pxToRem(36px);
            padding: 0 pxToRem(20px);
            border-left: 1px solid #ddd;
            color: $txt-black-color;
            font-size: pxToRem(24px);
            vertical-align: middle;
        }
    }
    // 轮播图小点
    .swiper-pagination {
        bottom: pxToRem(10px);
        .swiper-pagination-bullet {
            width: pxToRem(12px);
            height: pxToRem(12px);
            margin: 0 pxToRem(10px) 0 0;
            background: rgba(0,0,0,0);
            border: 1px solid $default-color;
            &.swiper-pagination-bullet-active {
                background-color: $default-color;
            }
            &:last-child {
                margin-right: 0;
            }
        }
    }
}
// tab公共样式
.tab-container{
    position: absolute;
    left: 0;
    top: pxToRem(360px);
    width: 100%;
    max-width: $max-width;
    z-index: 1;
    .tab{
        width: 33.33%;
        padding: pxToRem(50px) 0;
        text-align: center;
        color: #2d2d2d;
        font-size: pxToRem(30px);
        &.act{
            color: #ffae2c;
        }
    }
}
// tab切换内容
.tab-content{
    height: 100%;
    overflow: auto;
}
// 底部导航栏
.bottom-nav{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    max-width: $max-width;
    border-top: 1px solid $border-yellow-color;
    text-align: center;
    background-color: $bg-orange-color;
    .nav-link{
        width: 33.33%;
        height: pxToRem(96px);
        line-height: pxToRem(96px);
        border-right: 1px solid $border-yellow-color;
        &:last-child{
            border-right: 0;
        }
        &.act{
            background-color: $bg-yellow-color;
            .icon-home{
                background-image: url(../images/home-act.png);
            }
            .icon-school{
                background-image: url(../images/school-act.png);
            }
            .icon-social{
                background-image: url(../images/social-act.png);
            }
        }
        i{
            width: pxToRem(46px);
            height: pxToRem(38px);
            background-repeat: no-repeat;
            background-size: pxToRem(46px);
            vertical-align: middle;
            margin-right: pxToRem(10px);
        }   
        span{
            font-size: pxToRem(26px);
            color: #fff6d3;
            vertical-align: middle;
        }
    }
}
// toast
.toast{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: pxToRem(40px);
    transform: translate(-50%, -50%);
    max-width: pxToRem(400px);
    min-width: pxToRem(300px);
    background-color: rgba(0,0,0,0.4);
    padding: pxToRem(26px);
    text-align: center;
    line-height: pxToRem(32px);
    font-size: pxToRem(26px);
    color: $default-color;
    z-index: 1100;
}

// 图标
.icon-search{
    @include background('../images/search.png', 33px, 33px);
    display: inline-block;
    vertical-align: middle;
}
.icon-home{
    background-image: url(../images/home.png);
    &.act{
        background-image: url(../images/home-act.png);
    }
}
.icon-school{
    background-image: url(../images/school.png);
    &.act{
        background-image: url(../images/school-act.png);
    }
}
.icon-social{
    background-image: url(../images/social.png);
    &.act{
        background-image: url(../images/social-act.png);
    }
}