@charset "UTF-8";
@import "variables";
@import "icons";
@import "sprite";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

div,
a,
p {
    box-sizing: border-box;
}

@mixin setPosa($top, $right, $bottom, $left) {
    position: absolute;
    @if $top !='' {
        top: $top;
    }
    @if $right !='' {
        right: $right;
    }
    @if $bottom !='' {
        bottom: $bottom;
    }
    @if $left !='' {
        left: $left;
    }
}

@mixin bg($url) {
    background: url($url) no-repeat;
    background-size: 100% 100%;
}

@mixin font($fontSize, $color) {
    font-size: $fontSize;
    color: $color;
}

#pageSwiper {
    @include size(100%, 100%);
    .swiper-wrapper {
        @include size(100%, 100%);
    }
    .swiper-slide {
        @include size(100%, 100%);
    }
}

.slideIndex {
    @include size(100%, 100%);
    @include bg('../images/bg1.png');
    //  padding-top: 20%;
    padding-top: pxToRem(240px);
}

.slideItem {
    background: url(../images/bg2.png) left bottom no-repeat;
    background-size: 100% auto;
}

.img1-1 {
    @include size(pxToRem(526px), pxToRem(288px));
    @include bg('../images/1-1.png');
    margin: 0 auto;
}

.img1-2 {
    @include size(pxToRem(604px), pxToRem(76px));
    @include bg('../images/1-2.png');
    margin: pxToRem(44px) auto 0;
}

.dropdown {
    @include size(pxToRem(51px), pxToRem(56px));
    @include bg('../images/dropdown.png');
    position: absolute;
    bottom: pxToRem(370px);
    left: 50%;
    margin-left: pxToRem(-25px);
}
.slideItem{
    .dropdown {
        bottom: pxToRem(120px);
    }
}

.deng1 {
    @include size(pxToRem(87px), pxToRem(169px));
    @include bg('../images/deng1.png');
    position: absolute;
    bottom: pxToRem(93px);
    left: 50%;
    margin-left: pxToRem(-43.5px);
}

.slide1{
    padding-top: pxToRem(30px);
}

.con1{
    @include size(pxToRem(609px), pxToRem(956px));
    @include bg('../images/con1.png');
    margin: 0 auto;
    padding: pxToRem(223px) pxToRem(45px) 0 pxToRem(37px);
    h2{
        @include font(pxToRem(42px), #120e1d);
        margin-bottom: pxToRem(42px);
        text-align: center;
    }
    p{
        margin-bottom: pxToRem(31px);
        @include font(pxToRem(22px), #797b82);
        line-height: pxToRem(40px);
    }
}

.chart{
    height: 44.86%;
    max-height: pxToRem(538px);
    margin-top: pxToRem(45px);;
    img{
        margin: 0 auto;
        display: block;
        height: 100%;
    }
}

.con4{
    margin-top: pxToRem(33px);
    img{
        display: block;
        width: pxToRem(663px);
        margin: 0 auto;
    }
}


.slide-tit{
    @include font(pxToRem(46px), #e7bf8b);
    text-align: center;
    padding-top: pxToRem(74px);
}
.slide-tit:before{
    content: '';
    display: inline-block;
    @include size(pxToRem(36px), pxToRem(24px));
    @include bg('../images/tit-l.png');
    margin-right: pxToRem(34px);
}
.slide-tit:after{
    content: '';
    display: inline-block;
    @include size(pxToRem(36px), pxToRem(24px));
    @include bg('../images/tit-r.png');
    margin-left: pxToRem(34px);
}

.txt2{
    margin-top: pxToRem(49px);
    padding: 0 pxToRem(51px);
    p{
        @include font(pxToRem(22px), #797b82);
        line-height: pxToRem(30px);
    }
}

.txt4{
    padding-left: pxToRem(51px);
    p{
        text-align: left;
    }
}

.img3-1{
    width: pxToRem(710px);
    margin: pxToRem(60px) auto 0;
    img{
        display: block;
        width: 100%;
    }
}

#txtSwiper{
    @include size(pxToRem(687px), pxToRem(574px));
    margin: 0 auto;
    .swiper-wrapper {
        @include size(pxToRem(687px), pxToRem(574px));
    }
    .swiper-slide {
        @include size(pxToRem(687px), pxToRem(574px));
        background: #fff;
    }
}

.tab-tit{
    margin: pxToRem(45px) auto 0;
    @include size(pxToRem(687px), pxToRem(71px));
//  background: #fff;
    display: -webkit-box;
}

.tab-item{
//  @include size(50%, pxToRem(71px));
    width: 50%;
    border-radius: pxToRem(9px) pxToRem(9px) 0 0;
    background: rgba(255,255,255,0.5);
    text-align: center;
    p{
        height: pxToRem(71px);
        line-height: pxToRem(71px);
        @include font(pxToRem(28px), #ffffff);
        font-weight: bold;
        margin: 0 auto;
    }
}
.tab-item-cur{
    background: rgba(255,255,255,1);
    p{
        color: #dfb175;
        border-bottom: pxToRem(5px) solid #e4bd89;
        width: pxToRem(172px);
    }
}

.tab-con{
    @include size(pxToRem(687px), pxToRem(574px));
    background: #fff;
    border-radius: 0 0 pxToRem(9px) pxToRem(9px);
    padding-top: pxToRem(25px);
    padding-left: pxToRem(16px);
    p{
        @include font(pxToRem(22px), #727272);
//      padding-bottom: pxToRem(30px);
        height: pxToRem(52px);
        line-height: pxToRem(52px);
        white-space:nowrap; overflow:hidden;
        span{
            @include font(pxToRem(22px), #dfb175);
            display: inline-block;
            width: pxToRem(168px);
        }
    }
}

.img4-1{
    width: pxToRem(343px);
    position: absolute;
    top: 0;
    left: pxToRem(203px);
}

.img4-2{
    width: pxToRem(263px);
    position: absolute;
    top: pxToRem(357px);
    left: pxToRem(65px);
}

.img4-3{
    width: pxToRem(279px);
    position: absolute;
    top: pxToRem(374px);
    left: pxToRem(419px);
}

.con5{
    margin-top: pxToRem(70px);
}

.paper{
    @include size(pxToRem(640px), pxToRem(224px));
    @include bg('../images/paper.png');
    display: -webkit-box;
    margin: 0 auto pxToRem(60px);
    .paper-left{
        width: pxToRem(158px);
        text-align: center;
        padding-top: pxToRem(54px);
        .p-p1{
            @include font(pxToRem(50px), #fff);
            font-weight: bold;
        }
        .p-p2{
            @include font(pxToRem(26px), #fff);
            font-weight: bold;
            padding-top: pxToRem(10px);
        }
    }
    .paper-right{
        padding-top: pxToRem(57px);
        padding-left: pxToRem(66px);
        p{
            @include font(pxToRem(26px), #ca9c62);
            line-height: pxToRem(36px);
        }
    }
}

#roundSwiper{
    margin-top: pxToRem(80px);
    height: pxToRem(356px);
    .swiper-wrapper{
        
    }
    .shadow{
        @include size(pxToRem(179px), pxToRem(25px));
        @include bg('../images/shadow.png');
        position: absolute;
        left: 50%;
        margin-left: pxToRem(-90px);
        top: pxToRem(301px);
        opacity: 0;
        -webkit-transition: all 0.5s ease-out;
    }
    .swiper-slide{
        @include size(pxToRem(290px), pxToRem(290px));
        @include bg('../images/round.png');
        @include font(pxToRem(44.8px), #de9751);
        padding-top: pxToRem(93px);
        text-align: center;
        opacity: 0;
    }
    .swiper-slide-active{
        opacity: 1;
        .shadow{
            opacity: 1;
        }
    }
    .swiper-slide-prev,.swiper-slide-next{
        opacity: 0.5;
    }
}

.txtFrame{
    @include size(pxToRem(662px), pxToRem(298px));
    @include bg('../images/txtFrame.png');
    margin: 0 auto;
    padding: pxToRem(19px) pxToRem(58px) 0 pxToRem(52px);
    position: relative;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    p{
        @include font(pxToRem(24px), #fff);
        line-height: pxToRem(32px);
    }
    span{
        @include font(pxToRem(20px), #aa6f33);
        position: absolute;
        right: pxToRem(12px);
        bottom: pxToRem(10px);
    }
}

.con7{
    margin: pxToRem(90px) auto 0;
    @include size(pxToRem(672px), pxToRem(556px));
    @include bg('../images/con7.png');
    padding: pxToRem(58px) 0 pxToRem(5px) 0;
    display: -webkit-box;
}
.vs-tit{
    @include size(pxToRem(271px), pxToRem(54px));
    line-height: pxToRem(54px);
    background: rgba(255,255,255,0.1);
    @include font(pxToRem(24px), #eac596);
    padding-left: pxToRem(29px);
    font-weight: bold;
    position: relative;
    i{
        display: block;
        @include size(pxToRem(27px), pxToRem(27px));
        @include bg('../images/arrow.png');
        position: absolute;
        top: pxToRem(14px);
        right: pxToRem(25px);
        -webkit-transition: all 0.4s ease-out;
    }
}
.rotateZ90{
    -webkit-transform: rotateZ(90deg);
}
.vs-con{
    padding: pxToRem(20px) pxToRem(29px) 0 pxToRem(22px);
    width: pxToRem(271px);
    p{
        @include font(pxToRem(22px), #989ba4);
        line-height: pxToRem(34px);
    }
}

.fengxian{
    padding-left: 1px;
    .vs-con{
        height: pxToRem(327px);
    }
}

.fengkong{
    margin-left: pxToRem(128px);
    .vs-con{
        height: pxToRem(384px);
    }
}


.bottom {
    display: -webkit-box;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 9;
    .bot-item {
        display: block;
        width: 33.33%;
        color: #69697f;
        font-size: pxToRem(24px);
        height: pxToRem(92px);
        padding-left: pxToRem(62px);
        line-height: pxToRem(92px);
        background: rgba(40,38,54,0.43);
        border-top: 1px solid #5c5369;
    }
    .bot-item:nth-child(2) {
        border-left: 1px solid #5c5369;
        border-right: 1px solid #5c5369;
    }
    i {
        display: inline-block;
        vertical-align: middle;
    }
}

.text-bot {
    width: 100%;
    position: absolute;
    bottom: pxToRem(92px);
    padding: 0 pxToRem(47px) pxToRem(8px) pxToRem(44px);
    background: #212239;
    z-index: 5;
    .bot-arrow {
        height: pxToRem(45px);
        padding-top: pxToRem(19px);
        i {
            display: block;
            @include size(pxToRem(28px), pxToRem(17px));
            background: url(../images/bot-arrow.png) no-repeat;
            background-size: 100% 100%;
            margin: 0 auto;
            -webkit-transition: all 0.3s linear;
        }
    }
    p {
        color: #5a5a7b;
        font-size: pxToRem(22px);
        line-height: pxToRem(46px);
    }
}

.text-hide {
    height: pxToRem(91px);
    overflow: hidden;
}

.alert {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 99;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-bottom: pxToRem(60px);
    .alert_con {
        @include size(pxToRem(577px), pxToRem(723px));
        position: relative;
        img {
            width: 100%;
            height: 100%;
        }
        .close {
            @include size(pxToRem(70px), pxToRem(70px));
            background: url(../images/close.png) no-repeat;
            background-size: 100% 100%;
            position: absolute;
            left: 50%;
            margin-left: pxToRem(-35px);
            bottom: pxToRem(-125px);
        }
    }
}

.mask-div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .5);
    //display: none;
    .pop-container {
        z-index: 9999;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 0;
    }
    .masker-div {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1000;
    }
}

.mask-booking-success {
    .pop-container {
        //  position: relative;
        background: #fff;
        width: pxToRem(600px);
        min-height: pxToRem(540px);
        .yueyu-box {
            padding: 0 pxToRem(40px);
            .icon-yes {
                display: block;
                background-image: url(../images/icon-yes.png);
                width: pxToRem(120px);
                height: pxToRem(120px);
                margin: pxToRem(35px) auto pxToRem(25px);
            }
            .s-txt {
                line-height: pxToRem(26px);
                font-size: pxToRem(26px);
                color: #333;
                text-align: center;
                padding-bottom: pxToRem(25px);
            }
            .tel {
                line-height: 1.5;
                font-size: pxToRem(26px);
                color: #333;
                text-align: center;
                span {
                    font-size: pxToRem(30px);
                    color: #b39559;
                }
            }
            .title {
                height: pxToRem(80px);
                line-height: pxToRem(80px);
                position: relative;
                font-size: pxToRem(30px);
                color: #999999;
                text-align: center;
                border-bottom: 1px dashed #d1d1d1;
            }
            .tips {
                font-size: pxToRem(26px);
                color: #333333;
                text-align: justify;
                padding-top: pxToRem(20px);
                line-height: 1.5;
            }
            .btn-box {
                height: pxToRem(90px);
                line-height: pxToRem(90px);
                position: absolute;
                width: 100%;
                bottom: 0;
                left: 0;
                .fl {
                    position: relative;
                    display: inline-block;
                    width: 50%;
                    font-size: pxToRem(34px);
                    text-align: center;
                    &:nth-child(1) {
                        color: #999;
                    }
                    &:nth-child(2) {
                        color: #b29559;
                    }
                }
                .btn-qd {
                    position: relative;
                    width: 100%;
                    display: inline-block;
                    font-size: pxToRem(34px);
                    color: #b29559;
                    text-align: center;
                }
            }
        }
    }
}

.input-box {
    margin-top: pxToRem(40px);
    border: 1px solid #eee;
    position: relative;
    padding-left: 25%;
    span {
        font-size: pxToRem(30px);
        color: #333333;
        padding-left: pxToRem(35px);
        display: block;
        height: pxToRem(80px);
        line-height: pxToRem(80px);
        width: 25%;
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
    }
    input {
        box-sizing: border-box;
        display: block;
        font-size: pxToRem(30px);
        padding-left: pxToRem(30px);
        border: 0;
        outline: none;
        height: pxToRem(80px);
        width: 100%;
    }
    position: relative;
}

.mask-renzheng {
    //display: none;
    .pop-container {
        width: pxToRem(600px);
        min-height: pxToRem(686px);
        .clase-mask-renzheng {
            margin: pxToRem(30px) auto 0;
            display: block;
            width: pxToRem(60px);
            height: pxToRem(60px);
            i {
                display: block;
                margin: pxToRem(6px);
                width: pxToRem(48px);
                height: pxToRem(48px);
                background-image: url(../images/icon-close.png);
            }
        }
    }
}

.renzheng-pop {
    background-color: #ffffff;
    padding-bottom: pxToRem(50px);
    p {
        text-align: center;
        .icon-dbx {
            font-size: pxToRem(26px);
            color: #c8a66b;
            vertical-align: middle;
            display: inline-block;
            background-image: url(../images/icon-dbx.png);
            width: pxToRem(34px);
            height: pxToRem(38px);
            line-height: pxToRem(38px);
            margin-right: pxToRem(20px);
        }
        &:nth-child(1) {
            font-size: pxToRem(26px);
            color: #999;
            padding-top: pxToRem(60px);
        }
        &:nth-child(2) {
            padding: pxToRem(34px) 0 pxToRem(60px);
            font-size: pxToRem(34px);
            color: #c8a66b;
        }
        &:nth-child(3) {
            font-size: pxToRem(26px);
            color: #c8a66b;
        }
        &:nth-child(4) {
            padding-top: pxToRem(32px);
            font-size: pxToRem(26px);
            color: #c8a66b;
        }
    }
    ;
    .btn-hs {
        margin: pxToRem(60px) auto 0;
        display: block;
        width: pxToRem(520px);
        background: #c8a66b;
        height: pxToRem(90px);
        line-height: pxToRem(90px);
        text-align: center;
        font-size: pxToRem(34px);
        color: #ffffff;
    }
}

.toast {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2999;
    border-radius: pxToRem(6px);
    transform: translate(-50%, -50%);
    width: pxToRem(460px);
    background-color: rgba(0, 0, 0, 0.6);
    padding: pxToRem(35px);
    text-align: center;
    line-height: pxToRem(40px);
    font-size: pxToRem(30px);
    color: #fefefe;
}

.bg-size{
    background-size: 100% 100%;
}

