@charset "UTF-8";
@import "fn";
.alert {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
}

.box-alert {
    @include box-center;
}

.alert-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
}

.alert-con {
    position: relative;
    z-index: 2;
    .close {
        @include wh(63, 63);
        @include bg('../images/close.png');
        position: absolute;
        bottom: rem(-84);
        left: 50%;
        margin-left: rem(-31);
    }
}

.rule-con {
    margin-top: rem(-84);
    @include wh(618, 841);
    @include bg('../images/rule-bg.png');
    padding: 0 rem(42);
}

.alert-tit {
    padding-top: rem(90);
    text-align: center;
    color: #8c2e24;
    font-size: rem(38);
    font-weight: bold;
}

#ruleSwiper {
    height: rem(610);
    padding-right: rem(45);
    padding-left: rem(11);
    margin-top: rem(25);
    .swiper-slide {
        height: auto;
    }
    .swiper-scrollbar {
        opacity: 1 !important;
        width: rem(23);
        height: 100%;
        top: 0;
        right: 0;
        background: none;
    }
    .swiper-scrollbar-drag {
        background: #fa6409 url(../images/bar-bg.png) center center no-repeat;
        background-size: rem(12) rem(25);
        border-radius: rem(3);
    }
    p {
        color: #7e7c73;
        font-size: rem(25);
        line-height: rem(33);
        margin-bottom: rem(33);
        span {
            color: #fa6409;
        }
    }
}

.r-txt {
    height: rem(51);
    background: #fcf3ca;
    display: -webkit-box;
    -webkit-box-pack: justify;
    .txt-left {
        @include font(25, #565656);
        padding-left: rem(9);
        line-height: rem(51);
    }
    .txt-right {
        @include font(20, #565656);
        padding-right: rem(9);
        line-height: rem(51);
    }
}

.record-list {
    margin-top: rem(77);
    height: rem(570);
    overflow-y: auto;
}

.record-link {
    text-align: right;
    display: -webkit-box;
    -webkit-box-pack: end;
    .r-link {
        display: block;
        width: rem(104);
        text-align: center;
        @include font(21, #f7b833);
        padding-top: rem(9);
        padding-bottom: rem(30);
        text-decoration: underline;
    }
}

.record-none {
    line-height: rem(51);
    height: rem(51);
    background: #fcf3ca;
    text-align: center;
    font-size: rem(25);
    color: #565656;
    margin-top: rem(76);
    font-weight: bold;
}

.img-none {
    @include wh(329, 423);
    @include bg('../images/img-none.png');
    margin: rem(72) auto 0;
}

.txt-none {
    @include font(25, #565656);
    text-align: center;
    padding-top: rem(42);
}

.end-con {
    margin-top: rem(-84);
    @include wh(618, 841);
    @include bg('../images/end-bg.png');
}

.end-tit {
    @include font(38, #8c2e24);
    text-align: center;
    font-weight: bold;
    line-height: rem(60);
    padding-top: rem(78);
    word-spacing: rem(10);
    letter-spacing: rem(10);
}

.code {
    width: rem(345);
    margin: rem(45) auto 0;
    img {
        width: 100%;
    }
}

.code-txt {
    padding-top: rem(67);
    text-align: center;
    @include font(25, #565656);
    line-height: rem(41);
}

.light {
    @include wh(750, 657);
    @include bg('../images/light.png');
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.gift-con {
    @include wh(620, 721);
    @include bg('../images/gift-bg.png');
}

.gift-img {
    height: rem(532);
    width: 100%;
    @include box-center;
    .bqCard {
        width: rem(328);
    }
    .hb {
        width: rem(426);
    }
    .tb {
        width: rem(377);
    }
    .yuan {
        width: rem(380);
    }
    .jdCard {
        width: rem(457);
    }
}

.gift-txt {
    @include font(50, #fcf9d6);
    text-align: center;
    font-weight: bold;
    padding-top: rem(30);
}

.gift-btn {
    display: block;
    @include wh(218, 57);
    text-align: center;
    @include font(34, #8d2e24);
    line-height: rem(57);
    background: #f7b833;
    border-radius: rem(6);
    margin: rem(30) auto 0;
}

.loading {
    min-width: rem(300);
    padding: rem(8) rem(30);
    line-height: rem(40);
    background: rgba(141, 46, 36, 0.9);
    border-radius: rem(22);
    text-align: center;
    @include font(34, #fdf9e1);
    line-height: rem(70);
}