.content-box{box-sizing: content-box;}
.webkit-box{display: -webkit-box;}
.box-center{display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;}
.box-vertical{-webkit-box-orient: vertical;}
.justify-content{display: flex; justify-content: center;}
.display-flex{display: flex; }
.box-vertical{-webkit-box-orient: vertical;}
.box-flex1{-webkit-box-flex: 1;box-flex: 1;}

.content{
  position: relative;
  @include wh(750,2927);
  @include bg('../images/ranking/bg.jpg');
  padding-top: rem(102);
  background-size: cover;
  }

.logo{
  @include wh(132,48);
  @include bg('../images/logo.png');
  position: absolute;
  left: rem(30);
  top: rem(20);
  }
.ad-tips{
  position: absolute;
  right: rem(30);
  top:rem(37);
  font-size: rem(16);
  color: #4b92ff;
  }
.icon-txt{
  display: block;
  @include wh(561,180);
  @include bg('../images/ranking/txt.png');
  margin: 0 auto;
  }

.time{
  display: block;
  @include wh(493,46);
  @include bg('../images/time-bg.png');
  margin: rem(25) auto 0;
  text-align: center;
  line-height: rem(46);
  }
.avatar-con{
  @include wh(620,167);
  box-shadow: 0 rem(5) rem(21) 0 rgba(0, 65, 91, 0.34);
  background: #fff;
  margin: rem(70) auto 0;
  border-radius: rem(10);
  position: relative;
  padding-left: rem(200);
  .avatar{
    @include wh(116,116);
    border-radius: 50%;
    position: absolute;
    left: rem(30);
    top: 50%;
    margin-top: rem(-58);
    img{
      @include wh(116,116);
      border-radius: 50%;
      }
    }
  .sj-con{
    display: -webkit-box;
    div{
      -webkit-box-flex: 1;
      text-align: center;
      padding-top: rem(43);
      p{
        padding-top: rem(30);
        margin-left: rem(-100);
        }
      span{
        display: block;
        font-size: rem(24);
        color: #333333;
        i{
          @include wh(26,26);
          @include bg('../images/ranking/icon-dh.png');
          display: inline-block;
          vertical-align: rem(5);
          }
        &:nth-child(1){
          font-size: rem(46);
          color: #cb2d2d;
          font-weight: bold;
          }
        }
      }
    }
  }

.title{
  display: block;
  font-size: rem(40);
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  width: rem(724);
  padding-top: rem(30);
  position: absolute;
  left: 50%;
  margin-left: rem(-362);
  top: rem(10);
  }
.con1{
  position: relative;
  @include wh(724,435);
  @include bg('../images/ranking/con1.png');
  margin: rem(57) auto 0;
  padding:rem(150) rem(30) 0 rem(290);
  .icon-bx{
    position: absolute;
    @include wh(213,186);
    @include bg('../images/ranking/bx.png');
    left: rem(70);
    top: rem(143);
    }
  p{
    text-align: center;
    font-size: rem(28);
    color: #333333;
    span{
      display: block;
      color: #666666;
      font-size: rem(24);
      padding-top: rem(10);
      }
    }
  .btn-draw{
    display: block;
    background-image: -webkit-linear-gradient( 90deg, rgb(255,143,30) 0%, rgb(255,184,61) 100%);
    border-radius: rem(10);
    @include wh(300,80);
    margin: rem(26) auto 0;
    font-size: rem(36);
    color: #ffffff;
    text-align: center;
    line-height: rem(80);
    &.btn-draw-gray{
      background-image: -webkit-linear-gradient( 90deg, rgb(204,204,204) 0%, rgb(160,160,160) 100%);
      }
    }
  }

.con2{
  position: relative;
  @include wh(724,802);
  @include bg('../images/ranking/con2.png');
  margin: rem(57) auto 0;
  padding-top: rem(130);
  p{
    text-align: center;
    font-size: rem(24);
    color: #333;
    line-height:rem(42);
    }
  }

.con3{
  position: relative;
  @include wh(724,689);
  @include bg('../images/ranking/con3.png');
  margin: rem(57) auto 0;
  padding-top: rem(150);
  .icon-rule{
    @include wh(80,80);
    @include bg('../images/ranking/icon-rule.png');
    position: absolute;
    right: rem(48);
    top: rem(68);
    }
  .item-con{
    width: rem(632);
    margin: 0 auto;
    flex-wrap: wrap;
    align-content: flex-start;
    display: flex;
    .item{
      background: #e9f4ff;
      width: rem(309);
      height: rem(148);
      border-radius: rem(15);
      margin-bottom: rem(14);
      position: relative;
      padding: rem(39) 0 0 rem(113);
      text-align: center;
      .xiaopai{
        @include wh(192,127);
        @include bg('../images/ranking/xiaopai.png');
        position: absolute;
        left: rem(30);
        bottom: 0;
        }
      .icon1{
        @include wh(81,68);
        @include bg('../images/ranking/icon1.png');
        position: absolute;
        left: rem(21);
        top: rem(39);
        }
      .icon2{
        @include wh(77,72);
        @include bg('../images/ranking/icon2.png');
        position: absolute;
        left: rem(39);
        top: rem(35);
        }

      .icon3{
        @include wh(63,71);
        @include bg('../images/ranking/icon3.png');
        position: absolute;
        left: rem(30);
        top: rem(37);
        }
      .icon4{
        @include wh(82,70);
        @include bg('../images/ranking/icon4.png');
        position: absolute;
        left: rem(28);
        top: rem(39);
        }
      span{
        display: inline-block;
        font-size: rem(26);
        color: #333333;
        text-align: center;
        margin: rem(10) auto 0;
        &.red{
          font-size: rem(28);
          color: #cb2d2d;
          display: block;
          font-weight: bold;
          }
        &:nth-child(3){
          line-height: rem(35);
          height: rem(35);
          border-radius:rem(17) ;
          font-size: rem(18);
          color: #666666;
          padding: 0 rem(10);
          border: 0.03rem solid #9e9aa6;
          }
        }

      &:nth-child(odd){
        margin-left: rem(14);
        }
      &:nth-child(1){
        margin-right: 0;
        width: rem(632);
        padding: rem(25) 0 0 rem(130);
        &:after{
          content: '';
          position: absolute;
          top: rem(60);
          right: rem(80);
          @include wh(17,28);
          @include bg('../images/ranking/ar-r.png');
          }
        }
      }
    }
  }

.footer-btn{
  width: 16rem;
  position: fixed;
  left: 50%;
  margin-left: -8rem;
  bottom: 0;
  z-index: 3;
  height: rem(150);
  background: rgba(0,17,47,0.4);
  }
.btn-share {
  display: block;
  margin: rem(28) auto 0;
  border-radius: rem(10);
  background-image: -webkit-linear-gradient( 90deg, rgb(142,6,6) 0%, rgb(214,52,52) 100%);
  @include wh(689,94);
  line-height: rem(94);
  font-size: rem(40);
  color: #ffffff;
  text-align: center;
  }

.tips-bq{
  padding-top: rem(40);
  text-align: center;
  font-size: rem(16);
  color: #8daee6;
  }


.sidebar-container{
  @include wh(72,260);
  position: fixed;
  z-index: 1;
  right: .4rem;
  top: 3rem;
  >.item{
    @include wh(72,72);
    &.icon-home{
      @include bg('../images/icon-home.png');
      }
    &.icon-yq{
      @include bg('../images/icon-yq.png');
      }
    &.icon-jl{
      @include bg('../images/icon-jl.png');
      }
    &:not(:last-child){
      margin-bottom: 0.35rem;
      }
    }
  }

