html,body,h1,h2,h3,p,span,a,div,ol,ul,li,dl,dt,dd,table,tbody,tfoot,thead,tr,th,td,input,textarea, form,article,aside,details,figcaption,figure,footer,header,hgroup,nav,section { margin: 0; padding: 0; font: 12px/2rem 'Microsoft Yahei', Arial, Verdana, Helvetica, sans-serif; -webkit-tap-highlight-color: rgba(0,0,0,0); color: #212121;box-sizing: border-box;}
body { background: #fbfbf9; -webkit-text-size-adjust: none; width: 100%;height:100%;-webkit-tap-highlight-color:rgba(0,0,0,0);}
em, i, b, strong { font-style: normal; font-weight: normal;}
ul, li {list-style: none;}
fieldset{border: none;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display: block;}
.pt3{ padding-top: 3px!important;}
.q-box{padding: 0 15px 20px 15px;}
.q-box p{ font-size:13px; color: #ababab;text-align: justify;line-height: 190%; padding-left: 15px;}
.q-box .break-word{word-wrap: break-word;word-break: normal;}
.q-box .text-default{text-align: inherit;}
.q-box .title{ font-size:13px; color: #212121;padding: 12px 0 4px 14px;position: relative;}
.q-box .title:before{content: " "; display: inline-block; width: 6px; height: 6px; position: absolute;left:0;top:21px;background: #fece3a; -webkit-border-radius:3px; border-radius: 3px;}
