@charset "UTF-8";
@import "variables";
@import "icons";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.block{display: block}
.pos-r{ position: relative;}
.pos-a{ position: absolute;}
.pos-f{ position: fixed;}
.clearfix {zoom:1;}
.clearfix:after{content:'.'; display:block; visibility:hidden; clear:both; height:0;}
.fl{
    float: left;
}
.fr{
    float: right;
}
.text-overflow{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.bg-size{
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    }

.content-box{box-sizing: content-box;}
.webkit-box{display: -webkit-box;}
.box-center{display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;}
.box-vertical{-webkit-box-orient: vertical;}
.justify-content{display: flex; justify-content: center;}
.display-flex{display: flex; }
.box-vertical{-webkit-box-orient: vertical;}
.box-flex1{-webkit-box-flex: 1;box-flex: 1;}
.text-center{text-align: center;}

.scroll-active {
    -webkit-overflow-scrolling: touch !important;
}
.hide{display: none !important;}

a {
    text-decoration: none;
    font-size: pxToRem(26px);
}

.scroll {
    max-width: 414px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    .content {
        width: 100%;
    }
}



.hidden {
    display: none;
}

* {
    box-sizing: border-box;
}


div, a, img {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.popup {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.ismasker {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .7);
}


.mask{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999;
    background-color: rgba(0, 0, 0, .7);
    display: -webkit-box;-webkit-box-align: center;-webkit-box-pack: center;
    .pop-container {
        //z-index: 9999;
        //position: absolute;
        //left: 50%;
        //top: 50%;
        //transform: translate(-50%, -50%);
        font-size: 0;
        position: relative;
        .icon-dl{
            @include background('../images/icon-dl.png', 166px, 230px);
            position: absolute;
            left: pxToRem(-100px);
            top: pxToRem(20px);
            }
        .icon-yh{
            @include background('../images/icon-yh.png', 94px, 86px);
            position: absolute;
            right: pxToRem(-30px);
            top: pxToRem(20px);
            }
    }
    .masker{
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1000;
    }
}


::-webkit-scrollbar {
    width: 0;
    opacity: 0;
}



.toast{
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: pxToRem(6px);
    transform: translate(-50%, -50%);
    width: pxToRem(460px);
    background-color: rgba(0,0,0,0.6);
    padding: pxToRem(35px);
    text-align: center;
    line-height: pxToRem(40px);
    font-size: pxToRem(30px);
    color: #fefefe;
    z-index: 1100;
}


.share-mask {
    //display: none;
    .share-pic{
        width: pxToRem(569px);
        min-height: pxToRem(499px);
        background-image: url(../images/share.png?v=0131);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        position: absolute;
        right: pxToRem(30px);
        top: pxToRem(30px);
    }
}