@charset "UTF-8";
$default-color: #fff;
$bg-blue-color: #293366;
$bg-grey-color: #f2f2f2;
$txt-brown-color: #b29559;
$txt-black-color: #333;
$txt-grey-color: #999;
$border-brown-color: #c8a66b;
$border-grey-color: #e6e6e6;
