a,
ins {
  text-decoration: none; }

a,
body {
  color: #444; }

article,
aside,
blockquote,
button,
code,
dd,
div,
dl,
dt,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
input,
legend,
li,
menu,
nav,
ol,
p,
pre,
section,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

body {
  width: 16rem;
  margin: 0 auto;
  position: relative;
  line-height: 1.25;
  -webkit-overflow-scrolling: touch;
  font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
  outline: 0;
  font-size: .55rem;
  background: #e8eaef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.o-hide,
.text-nowrap {
  overflow: hidden; }

::-webkit-input-placeholder {
  color: #ccc; }

::-moz-input-placeholder {
  color: #ccc; }

::input-placeholder {
  color: #ccc; }

a,
em,
i,
span {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0);
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.text-l,
caption,
th {
  text-align: left; }

button,
fieldset,
img,
input,
textarea {
  border: 0; }

li,
ol,
ul {
  list-style: none; }

del {
  text-decoration: line-through; }

button,
input,
optgroup,
option,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  -webkit-appearance: none;
  outline: 0; }

a {
  -webkit-touch-callout: none; }

:focus {
  outline: 0;
  -webkit-tap-highlight-color: transparent; }

em,
i {
  font-style: normal; }

.text-r {
  text-align: right; }

.text-c {
  text-align: center; }

.text-nowrap {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis; }

.vertical-t {
  vertical-align: top; }

.vertical-b {
  vertical-align: bottom; }

.vertical-m {
  vertical-align: middle; }

.clear {
  clear: both; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.d-hide {
  display: none; }

.d-show {
  display: block; }

.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1; }

.swiper-container-no-flexbox .swiper-slide {
  float: left; }

.swiper-container-vertical > .swiper-wrapper {
  -webkit-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column; }

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.swiper-container-multirow > .swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap; }

.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto; }

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative; }

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto; }

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform,height;
  -webkit-transition-property: height,-webkit-transform;
  transition-property: height,-webkit-transform;
  transition-property: transform,height;
  transition-property: transform,height,-webkit-transform; }

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000; }

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x; }

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat; }

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none; }

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto; }

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto; }

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E"); }

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E"); }

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10; }

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0; }

.swiper-container-horizontal > .swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%; }

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2; }

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none; }

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer; }

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff; }

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff; }

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff; }

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000; }

.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0); }

.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block; }

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px; }

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute; }

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top; }

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  transform-origin: right top; }

.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0; }

.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0; }

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5); }

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff; }

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000; }

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px; }

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d; }

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10; }

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, 0.5), transparent);
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5), transparent);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5), transparent);
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), transparent);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(transparent));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), transparent); }

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px; }

.swiper-container-cube, .swiper-container-flip {
  overflow: visible; }

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1; }

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%; }

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0; }

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next + .swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible; }

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0; }

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out; }

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity; }

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none; }

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto; }

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center; }

.swiper-zoom-container > canvas, .swiper-zoom-container > img, .swiper-zoom-container > svg {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain; }

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1); }

.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%; }

.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%; }

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0; }

.swiper-scrollbar-cursor-drag {
  cursor: move; }

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite; }

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E"); }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); } }

body {
  background: #fff; }

header {
  width: 100%;
  height: 11.11467rem;
  background: url("../images/hd.png?v=20180320001") center top no-repeat;
  background-size: 100%; }

.md1 {
  background: #ffc801;
  position: relative;
  margin-top: 3.41333rem;
  padding: 6.61333rem 0 0.64rem; }
  .md1 .top_side {
    width: 14.72rem;
    padding: 1.28rem;
    border: 0.10667rem solid #ffc801;
    background: #fff;
    top: -3.41333rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute; }
    .md1 .top_side .txt {
      font-size: 0.512rem;
      color: #444;
      text-indent: 1.024rem;
      line-height: 0.768rem; }
  .md1 .md1_img1 {
    width: 100%;
    height: 8.74667rem;
    display: block; }
  .md1 .tit_1 {
    width: 7.27467rem;
    height: 1.28rem;
    background: url("../images/md1_tit_1.png") center top no-repeat;
    background-size: 100%;
    margin: 1.06667rem auto; }
  .md1 .txt_wrpaer {
    background: #fff;
    padding: 0.768rem;
    width: 14.72rem;
    margin: 0.85333rem auto; }
    .md1 .txt_wrpaer .txt_img {
      display: block;
      width: 12.928rem;
      height: 2.26133rem;
      margin: 0 auto 0.85333rem; }
    .md1 .txt_wrpaer p {
      color: #301802;
      font-size: 0.42667rem;
      line-height: 0.768rem;
      text-indent: 0.85333rem; }
    .md1 .txt_wrpaer .txt_3 {
      font-weight: bold; }

.md2 {
  padding: 1.28rem 0; }
  .md2 .md2_img1,
  .md2 .md2_img2 {
    width: 100%;
    display: block; }
  .md2 .list {
    width: 14.63467rem;
    margin: 0.64rem auto;
    overflow: hidden; }
    .md2 .list li {
      float: left;
      width: 6.82667rem;
      height: 5.33333rem;
      margin-bottom: 0.81067rem;
      overflow: hidden; }
    .md2 .list li:nth-child(odd) {
      margin-right: 0.64rem; }
    .md2 .list .tit {
      overflow: hidden;
      margin-bottom: 0.64rem; }
      .md2 .list .tit span, .md2 .list .tit p {
        float: left;
        background: #ffc801;
        line-height: 1.28rem;
        font-weight: bold;
        text-align: center;
        border-radius: 0.64rem;
        font-size: 0.59733rem; }
      .md2 .list .tit span {
        width: 1.28rem;
        height: 1.28rem; }
      .md2 .list .tit p {
        width: 4.18133rem;
        height: 1.28rem; }
    .md2 .list .txt {
      text-indent: 0.93867rem;
      font-size: 0.46933rem;
      color: #3e3830;
      line-height: 0.768rem; }
  .md2 .tit_1 {
    width: 7.27467rem;
    height: 1.28rem;
    background: url("../images/md2_tit2.png") center top no-repeat;
    background-size: 100%;
    margin: 0.85333rem auto; }
  .md2 .list_1 {
    overflow: hidden; }
    .md2 .list_1 li {
      float: left;
      width: 50%;
      position: relative;
      background: #ffc800;
      height: 5.54667rem;
      padding-top: 2.41067rem;
      margin-top: 3.09333rem; }
      .md2 .list_1 li img {
        position: absolute;
        top: -1.55733rem;
        width: 4.69333rem;
        height: 3.904rem;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%); }
    .md2 .list_1 .tit_2 {
      width: 6.82667rem;
      height: 1.06667rem;
      line-height: 1.06667rem;
      border-radius: 0.53333rem;
      border: 1px solid #332b2a;
      text-align: center;
      font-size: 0.42667rem;
      color: #332b2a;
      margin: 0.21333rem auto; }
    .md2 .list_1 .txt_2 {
      text-align: center;
      color: #332b2a;
      font-size: 0.384rem; }

.md3 {
  padding: 1.28rem 0; }
  .md3 .md3_img1,
  .md3 .md3_img2 {
    display: block; }
  .md3 .md3_img1 {
    width: 14.72rem;
    margin: 0 auto 1.06667rem; }
  .md3 .md3_img2 {
    width: 15.552rem; }

.md4 {
  background: #ffc801;
  padding: 0.85333rem 0; }
  .md4 .md4_1 {
    display: block;
    width: 100%; }
  .md4 .tit {
    width: 10.73067rem;
    height: 1.024rem;
    background: url("../images/md4_tit_1.png") center top no-repeat;
    background-size: 100%;
    margin: 0 auto 1.06667rem; }
  .md4 .txt_wraper {
    width: 14.72rem;
    height: 2.944rem;
    margin: 0.32rem auto;
    background: #fcb60d;
    padding-top: 0.53333rem; }
    .md4 .txt_wraper h3, .md4 .txt_wraper p {
      color: #301802;
      text-align: center; }
    .md4 .txt_wraper h3 {
      font-size: 0.59733rem; }
      .md4 .txt_wraper h3 span {
        font-size: 0.96rem;
        font-weight: bold; }
    .md4 .txt_wraper p {
      font-size: 0.42667rem; }
  .md4 .tit_1 {
    width: 5.20533rem;
    height: 1.472rem;
    background: url("../images/md4_tit_2.png") center top no-repeat;
    background-size: 100%;
    margin: 1.06667rem auto 1.06667rem; }
  .md4 .txt_wpraer_1 {
    width: 14.72rem;
    padding: 0.53333rem 0.53333rem 1.28rem;
    background: #fff;
    margin: 0 auto;
    position: relative;
    margin-bottom: 9.81333rem; }
    .md4 .txt_wpraer_1 p {
      color: #3e3830;
      text-align: center; }
    .md4 .txt_wpraer_1 .txt {
      font-size: 0.46933rem;
      line-height: 0.68267rem; }
    .md4 .txt_wpraer_1 .txt_1 {
      font-size: 0.46933rem;
      line-height: 1.024rem;
      margin-bottom: 0.42667rem; }
      .md4 .txt_wpraer_1 .txt_1 span {
        font-size: 1.024rem;
        font-weight: bold;
        color: #ff7800; }

.md5 {
  padding: 1.06667rem 0.64rem 3.2rem; }
  .md5 .tit {
    width: 10.73067rem;
    height: 1.024rem;
    background: url("../images/md5_tit_1.png") center top no-repeat;
    background-size: 100%;
    margin: 1.06667rem auto; }
  .md5 .tit_1 {
    width: 5.20533rem;
    height: 1.408rem;
    background: url("../images/md5_tit_2.png") center top no-repeat;
    background-size: 100%;
    margin: 1.06667rem auto; }
  .md5 .tit_2 {
    width: 5.20533rem;
    height: 1.36533rem;
    background: url("../images/md5_tit_3.png") center top no-repeat;
    background-size: 100%;
    margin: 1.06667rem auto; }
  .md5 .tit_4 {
    width: 5.20533rem;
    height: 1.51467rem;
    background: url("../images/md5_tit_4.png") center top no-repeat;
    background-size: 100%;
    margin: 1.06667rem auto; }
  .md5 .txt {
    font-size: 0.42667rem;
    color: #4d290b;
    line-height: 0.768rem; }
  .md5 .link_wraper {
    overflow: hidden;
    width: 13.65333rem;
    margin: 0 auto; }
    .md5 .link_wraper .link {
      width: 6.50667rem;
      height: 3.69067rem;
      float: left;
      margin-bottom: 0.85333rem; }
  .md5 .link:nth-child(1) {
    background: url("../images/md5_link_1.png?v=20180319001") center top no-repeat;
    background-size: 100%;
    margin-right: 0.53333rem; }
  .md5 .link:nth-child(2) {
    background: url("../images/md5_link_2.png?v=20180319001") center top no-repeat;
    background-size: 100%; }
  .md5 .link:nth-child(3) {
    background: url("../images/md5_link_3.png?v=20180319002") center top no-repeat;
    background-size: 100%;
    margin-right: 0.53333rem; }
  .md5 .link:nth-child(4) {
    background: url("../images/md5_link_4.png?v=20180319001") center top no-repeat;
    background-size: 100%; }
  .md5 .line {
    width: 3.84rem;
    height: 0.27733rem;
    background: #40230c;
    border-radius: 0.128rem;
    margin: 0.64rem auto 0; }

.swiper-container {
  width: 100%;
  height: 15.57333rem;
  padding-top: 2.13333rem; }
  .swiper-container .msg {
    color: #3e3830;
    width: 9.6rem;
    height: 11.09333rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: solid #fcb60d 2px;
    border-radius: 0.10667rem;
    margin: 0 auto;
    position: relative;
    padding: 2.56rem 1.06667rem 0; }
    .swiper-container .msg img {
      width: 3.81867rem;
      height: 3.79733rem;
      position: absolute;
      top: -1.70667rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
  .swiper-container .txt {
    font-size: 0.42667rem;
    line-height: 0.68267rem;
    color: #3e3830;
    margin-top: 0.64rem; }
  .swiper-container .tit_3 {
    text-align: center;
    margin-bottom: 0.21333rem;
    font-size: 0.42667rem; }
    .swiper-container .tit_3 span {
      font-size: 0.59733rem;
      font-weight: bold;
      margin-right: 0.21333rem; }
  .swiper-container .swiper-button-next,
  .swiper-container .swiper-button-prev {
    width: 1.06667rem;
    height: 1.06667rem; }
  .swiper-container .swiper-button-next {
    background: url("../images/next.png") center top no-repeat;
    background-size: 100%; }
  .swiper-container .swiper-button-prev {
    background: url("../images/prev.png") center top no-repeat;
    background-size: 100%; }

.btn_wraper {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background: #fff;
  height: 2.77333rem;
  z-index: 5; }

.btn_yy {
  position: fixed;
  left: 5%;
  bottom: 0.81067rem;
  width: 90%;
  height: 1.87733rem;
  line-height: 1.87733rem;
  text-align: center;
  color: #fff;
  border-radius: 0.21333rem;
  background: #fcaa0d;
  font-size: 0.768rem;
  -webkit-box-shadow: 0px 0px 0.42667rem #999;
          box-shadow: 0px 0px 0.42667rem #999; }

.alert {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 6;
  left: 0;
  top: 0; }
  .alert .mask {
    background: rgba(0, 0, 0, 0.9);
    left: 0;
    top: 0;
    position: absolute;
    width: 100%;
    height: 100%; }
  .alert .con {
    position: absolute;
    width: 14.72rem;
    height: 7.25333rem;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
    .alert .con .input_wraper {
      display: block;
      width: 100%;
      height: 1.87733rem;
      background: #fff;
      border-radius: 0.21333rem;
      padding-left: 1.408rem;
      margin-bottom: 0.64rem;
      position: relative;
      padding-top: 0.42667rem;
      font-size: 0.512rem; }
      .alert .con .input_wraper .notice {
        color: red;
        font-size: 0.512rem;
        position: absolute;
        left: 0.42667rem;
        bottom: -0.64rem; }
      .alert .con .input_wraper input {
        width: 9.81333rem;
        height: 1.00267rem; }
    .alert .con .input_wraper:before {
      content: '';
      position: absolute; }
    .alert .con .input_wraper_1:before {
      width: 0.64rem;
      height: 0.72533rem;
      background: url("../images/icon_1.png") center top no-repeat;
      background-size: 100%;
      left: 0.42667rem;
      top: 0.64rem; }
    .alert .con .input_wraper_2:before {
      width: 0.55467rem;
      height: 0.896rem;
      background: url("../images/icon_2.png") center top no-repeat;
      background-size: 100%;
      left: 0.42667rem;
      top: 0.42667rem; }
  .alert .btn {
    display: block;
    width: 100%;
    height: 1.87733rem;
    line-height: 1.87733rem;
    text-align: center;
    color: #fff;
    border-radius: 0.21333rem;
    background: #fcaa0d;
    font-size: 0.768rem;
    z-index: 5; }

.shareBtn {
  width: 1.83467rem;
  height: 1.856rem;
  background: url("../images/shareBtn.png") center top no-repeat;
  background-size: 100%;
  position: fixed;
  right: 0.42667rem;
  bottom: 8.10667rem;
  z-index: 5; }

body.modal-open {
  position: fixed;
  width: 100%; }

.toast {
  display: none;
  position: fixed;
  border-radius: 0.21333rem;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 6.4rem;
  height: 1.28rem;
  line-height: 1.28rem;
  text-align: center;
  color: #fff;
  font-size: 0.55467rem;
  background: rgba(0, 0, 0, 0.8); }
