@charset "UTF-8";
@import "variables";
@import "icons";
@import "../../../sass/reset";
@import "../../../sass/func";
html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch !important;
}

a {
    text-decoration: none;
}

div,
p {
    box-sizing: border-box;
}

@mixin bg($width, $height, $url) {
    width: $width;
    height: $height;
    background: url($url) no-repeat;
    background-size: 100% 100%;
}

@mixin font($fontSize, $color) {
    font-size: $fontSize;
    color: $color;
}

.bg {
    @include size(100%, 100%);
}

.jiaxi-none {
    width: 100%;
    height: 100%;
    padding-bottom: pxToRem(119px);
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    -webkit-box-orient: vertical;
    background: #a9110e url(../images/jiaxitequan/bg-none.png) no-repeat;
    background-size: 100% auto;
    .pic-none {
        @include bg(pxToRem(216px), pxToRem(337px), '../images/jiaxitequan/pic-none.png');
    }
    .p-none {
        @include font(pxToRem(30px), #fff);
        margin-top: pxToRem(90px);
    }
}

.jiaxi-con {
    width: 100%;
    height: 100%;
    padding-top: pxToRem(131px);
    background: #a9110e url(../images/jiaxitequan/bg.png) no-repeat;
    background-size: 100% auto;
}

.total {
    margin: 0 auto;
    text-align: center;
    .t-p1 {
        text-shadow: 0 pxToRem(8px) pxToRem(10px) rgba(208, 57, 14, 1);
        @include font(pxToRem(30px), #fff);
        font-weight: bold;
    }
    .t-p2 {
        text-shadow: 0px pxToRem(10px) pxToRem(20px) rgba(203, 51, 0, 1);
        @include font(pxToRem(110px), #fff);
        margin-top: pxToRem(20px);
        font-weight: bold;
        span {
            @include font(pxToRem(60px), #fff);
            font-weight: bold;
        }
    }
}

#swiper {
    margin-top: pxToRem(90px);
    .swiper-slide {
        @include bg(pxToRem(532px), pxToRem(722px), '../images/jiaxitequan/slide-bg.png');
        padding-bottom: pxToRem(36px);
        opacity: 0.8;
        padding-top: pxToRem(93px);
        .icon-box {
            height: pxToRem(153px);
        }
        .lable {
//          @include size(pxToRem(180px), pxToRem(38px));
            height: pxToRem(38px);
            @include font(pxToRem(20px), #fff);
            text-align: center;
            position: absolute;
            top: pxToRem(16px);
            right: pxToRem(45px);
            padding: pxToRem(10px) pxToRem(16px) 0 pxToRem(16px);
            border-radius: 0 0 pxToRem(8px) pxToRem(8px);
            i {
                display: inline-block;
                width: 1px;
                height: pxToRem(16px);
                background: rgba(255, 255, 255, 0.5);
                margin: 0 pxToRem(8px);
            }
        }
        .cover {
            position: absolute;
//          @include bg(pxToRem(480px), pxToRem(85px), '../images/jiaxitequan/cover1.png');
            width: pxToRem(480px);
            height: pxToRem(85px);
            background: url(../images/jiaxitequan/cover1.png) no-repeat;
            background-size: 100% 100%;
            bottom: pxToRem(36px);
            left: 50%;
            margin-left: pxToRem(-240px);
        }
    }
    .swiper-slide-active {
        opacity: 1;
        .cover {
//          @include bg(pxToRem(480px), pxToRem(85px), '../images/jiaxitequan/cover.png');
            background: url(../images/jiaxitequan/cover.png) no-repeat;
            background-size: 100% 100%;
            bottom: pxToRem(26px);
        }
    }
}

.slide-1 {
    .s-icon {
        @include bg(pxToRem(208px), pxToRem(156px), '../images/jiaxitequan/i1.png');
        margin: 0 auto;
    }
    .lable {
        background-color: rgb(195, 92, 230);
        box-shadow: 0px 4px 4px 0px rgba(181, 134, 84, 0.3);
    }
}

.slide-2 {
    .s-icon {
        @include bg(pxToRem(156px), pxToRem(156px), '../images/jiaxitequan/i2.png');
        margin: 0 auto;
    }
    .lable {
        background-color: rgb(179, 127, 73);
        box-shadow: 0px 4px 10px 0px rgba(181, 134, 84, 0.3);
    }
}

.slide-3 {
    .icon-box {
        padding-top: pxToRem(3px);
    }
    .s-icon {
        @include bg(pxToRem(228px), pxToRem(154px), '../images/jiaxitequan/i3.png');
        margin: 0 auto;
    }
    .lable {
        background-color: rgb(34, 132, 230);
        box-shadow: 0px 4px 10px 0px rgba(181, 134, 84, 0.3);
    }
}

.slide-4 {
    .icon-box {
        padding-top: pxToRem(9px);
    }
    .s-icon {
        @include bg(pxToRem(204px), pxToRem(146px), '../images/jiaxitequan/i4.png');
        margin: 0 auto;
    }
    .lable {
        background-color: rgb(255, 89, 145);
        box-shadow: 0px 4px 10px 0px rgba(181, 134, 84, 0.3);
    }
}

.slide-5 {
    .icon-box {
        padding-top: pxToRem(10px);
    }
    .s-icon {
        @include bg(pxToRem(172px), pxToRem(139px), '../images/jiaxitequan/i5.png');
        margin: 0 auto;
    }
    .lable {
        background-color: rgb(255, 89, 145);
        box-shadow: 0px 4px 10px 0px rgba(181, 134, 84, 0.3);
    }
}

.txt-box {
    text-align: center;
    .txt-p1 {
        text-shadow: 0 pxToRem(8px) pxToRem(10px) rgba(130, 95, 57, 0.6);
        @include font(pxToRem(60px), #fff);
        font-weight: bold;
    }
    .txt-p2 {
        @include font(pxToRem(24px), #735a28);
        margin-top: pxToRem(14px);
        line-height: pxToRem(36px);
    }
    .txt-p3 {
        padding: 0 pxToRem(70px) pxToRem(75px) pxToRem(67px);
        overflow-y: auto;
        height: pxToRem(270px);
        margin-top: pxToRem(22px);
        text-align: left;
        -webkit-overflow-scrolling: touch;
        p {
            @include font(pxToRem(24px), #fff);
            line-height: pxToRem(38px);
        }
    }
    .txt-p3::-webkit-scrollbar {
        display: none;
    }
}