@charset "utf-8";
@import './helper/_util.scss';
@import './reset.scss';
@import './swiper-3.4.2.scss';
body {
  font-size: rem(24);
  background: #a4572e;
  line-height: 1;
}
div{
  box-sizing: border-box;
}

.d-hide {
  display: none !important;
}

.underline{
  text-decoration: underline;
}

.page-index {
  background: url('../images//bg.png') center bottom no-repeat;
  background-size: cover;
  padding-bottom: rem(60);
}

.banner {
  position: relative;
  padding-top: rem(74);
  // transform: translateZ(1px);
  @include wh(750, 681);
  @include bg('../images/banner-bg.jpg');
  .logo {
    @include wh(177, 56);
    @include bg('../images/logo.png');
    margin: 0 auto;
  }
  .rule-btn {
    @include wh(101,191);
    @include bg('../images/rule-btn.png');
    position: absolute;
    right: rem(8);
    top: 0;
    z-index: 2;
  }
  .b1{
    @include wh(685,260);
    @include bg('../images/b1.png');
    margin: rem(39) auto 0;
  }
}

.sec{
    border-radius: rem(20);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 rem(20) rem(24) 0 rgba(216, 127, 0, 0.12);
    width: rem(700);
    padding-top: rem(58);
    padding-left: rem(34);
    padding-right: rem(34);
    margin: 0 auto rem(50);
    position: relative;
    z-index: 2;
    .sec-tit{
        color: #ff4b4b;
        font-size: rem(40);
        font-weight: bold;
        text-align: center;
    }
    .txt{
        p{
            color: #a5572e;
            
            line-height: rem(40);
            text-align: justify;
        }
    }  
}

.sec0{
    height: rem(1011);
    background-image: url('../images//bg-frame1.png');
    background-position: center rem(71);
    background-repeat: no-repeat;
    background-size: rem(643) rem(889);
    margin-top: rem(-71);
    .txt{
        padding: rem(56) rem(58) rem(50) rem(58);
    }
    .lottery-state{
        .p1{
            width: rem(302);
            padding: rem(9) 0;
            border-radius: 20px;
            color: #b05603;
            
            text-align: center;
            background: #fff1e8;
            margin: 0 auto rem(20);
            span{
                color: #fa4945;
                font-weight: bold;
                margin: 0 rem(10);
            }
        }
        .link{
            text-align: center;
            color: #ff4b4b;
            margin: 0;
            text-decoration: underline;
        }
    }
    .fd-container{
      display: flex;
      text-align: center;
      margin-top: rem(85);
      position: relative;
      .finger{
        @include wh(102,105);
        @include bg('../images/finger.png');
        position: absolute;
        top: rem(127);
        left: rem(185);
      }
      .fd-item{
        flex: 1;
      }
      .fd1{
        background-image: url('../images/fd1.png');
        background-size: rem(281) rem(226);
        background-position: center;
        background-repeat: no-repeat;
        height: rem(226);
      }
      .fd2{
        background-image: url('../images/fd2.png');
        background-size: rem(281) rem(226);
        background-position: center;
        background-repeat: no-repeat;
        height: rem(226);
      }
      .fd-p1{
        color: #b05603;
        font-size: rem(25);
        font-weight: bold;
        padding-top: rem(30);
      }
      .fd-p2{
        color: #666;
        font-size: rem(22);
        padding-top: rem(18);
      }
    }
    .fd-swiper{
      @include wh(555,59);
      background: #fff1e8;
      border-radius: 20px;
      margin: rem(45) auto 0;
      padding: 0 rem(20);
      .swiper-slide{
        margin-top: 0;
      }
      .row{
        text-align: center;
        display: flex;
        .item{
          flex: 1;
          color: #b05603;
          
          line-height: rem(59);
          span{
            color: #ff4b4b;
          }
        }
      }
    }
    
}

.sec1 {
  height: rem(1011);
  background-image: url('../images//bg-frame1.png');
  background-position: center rem(71);
  background-repeat: no-repeat;
  background-size: rem(643) rem(889);
  .txt{
    padding: rem(38) rem(58) rem(40) rem(58);
  }
}

.award-table-box {
  width: rem(590);
  background: #fff;
  border-radius: rem(20);
  margin: 0 auto;
  position: relative;
  .table-tit {
    display: flex;
    background:#ff604b;
    border-radius: rem(18) rem(18) 0 0;
    align-items: center;
    height: rem(79);
    .item {
      flex: 1;
      text-align: center;
      color: #ffffff;
      
      line-height: rem(30);
    }
  }
  .table-li {
    li {
      display: flex;
      .item {
        flex: 1;
        padding: rem(23) 0;
        
        color: #a5572e;
        text-align: center;
        &:nth-child(1){
          padding-left: rem(23);
          text-align: left;
        }
        &:nth-child(3){
          font-weight: bold;
          color: #ff4b4b;
        }
      }
    }
    li:nth-child(even) {
      background: #fff1e8;
    }
  }
}

.sec2 {
  height: rem(1742);
  background-image: url('../images//bg-frame2.png');
  background-position: center rem(71);
  background-repeat: no-repeat;
  background-size: rem(643) rem(1525);
  position: relative;
  .txt{
    padding: rem(38) rem(50) rem(40) rem(50);
  }
}

.ad-txt{
  width: 100%;
  color: #a4562d;
  font-size: rem(18);
  text-align: center;
  line-height: rem(40);
  position: absolute;
  bottom: rem(30);
  left: 0;
}

.awards-container{
  position: relative;
  .awards-prev{
    @include wh(68,69);
    @include bg('../images/prev.png');
    position: absolute;
    left: rem(-28);
    top: rem(130);
    z-index: 2;
  }
  .awards-next{
    @include wh(68,69);
    @include bg('../images/next.png');
    position: absolute;
    right: rem(-28);
    top: rem(130);
    z-index: 2;
  }
}

.awards-swiper{
  .swiper-slide{
    width: rem(201);
    text-align: center;
    opacity: 0;
  }
  .swiper-slide-active,
  .swiper-slide-prev,
  .swiper-slide-next{
    opacity: 1;
  }
  .hb{
    margin-top: rem(11);
    @include wh(201,277);
    @include bg('../images/hb.png');
  }
  .rank{
    padding-top: 1px;
    color: #d8391e;
    
  }
  .hb-p1{
    font-size: rem(66);
    color: #fff;
    font-weight: bold;
    padding-top: rem(110);
  }
  .hb-p2{
    font-size: rem(28);
    color: #fff;
    padding-top: rem(10);
  }
}

.awards-nav {
  position: absolute;
  z-index: 1;
  transform: translateZ(1px);
  top: 2.5rem;
  // &.prev {
  //   @include wh(24,
  //   42);
  //   @include bg('../images/5-1.png');
  //   left: .25rem;
  // }
  // &.next {
  //   @include wh(24,
  //   42);
  //   @include bg('../images/5-2.png');
  //   right: .25rem;
  // }
}

.awards-swiper-count {
  font-size: rem(50);
  color: #ffffff;
  position: absolute;
  top: 3.3rem;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
}

.awards-swiper-ranking {
  font-size: rem(27);
  text-align: center;
  left: 0;
  right: 0;
  bottom: .85rem;
  color: #ffffff;
  position: absolute;
}

.awards-text {
  margin-top: 1.5rem;
  color: #ffffff;
  font-size: rem(22);
  text-align: center;
}

.ranking-container {
  position: relative;
  z-index: 2;
  padding: rem(30) rem(46) 0 rem(46);
  background: #ffffff;
  border-radius: .35rem;
  margin: 0 auto;
  overflow: hidden;
}

.ranking-list {
  height: rem(500);
  overflow: scroll;
}

.ranking-list-nodata {
  height: rem(500);
  display: flex;
  align-items: center;
  justify-content: center;
  .emotion {
    @include wh(259,270);
    @include bg('../images/10-10.png');
  }
}

.ranking-flex {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding: rem(18) 0.5rem;
  position: relative;
  border-top: 1px dashed #ffaaa2;
  &:first-child{
    border-top: 0;
  }
  &.title {
    font-size: rem(26);
    color: #ff1800;
    >.item {
      &.n1 {
        text-indent: 0;
      }
    }
  }
  >.item {
    flex: 2;
    &.n1 {
      text-indent: .35rem;
      color: #ff4b4b;
    }
    &.n2 {
      flex: 3;
      text-align: center;
    }
    &.n3 {
      flex: 3;
      text-align: right;
    }
  }
}

.ranking-metal {
  position: absolute;
  @include wh(30,40);
  top: 50%;
  left: 0.7rem;
  transform: translate(0, -50%);
  padding-top: rem(17);
  text-align: center;
  text-indent: 0;
  &.n1 {
    @include bg('../images/6-1.png');
    color: #e65021;
  }
  &.n2 {
    @include bg('../images/6-2.png');
    color: #7177a7;
  }
  &.n3 {
    @include bg('../images/6-3.png');
    color: #884900;
  }
}

.ranking-user-state{
  @include wh(565,97);
  box-shadow: 0px rem(4) rem(4) 0px rgba(255, 231, 194, 0.38);
  background: linear-gradient(to bottom,#ff9548,#ff4848);
  margin: rem(30) auto 0;
  border-radius: rem(44);
  position: relative;
  .avatar{
    @include wh(104,104);
    position: absolute;
    top: rem(-3);
    left: rem(-24);
    img{
      display: block;
      width: 100%;
      height: 100%;
      border-radius: 50%;
    }
  }
  .nologin{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: rem(22);
  }
  .state-ranking{
    padding: 0 rem(50);
    display: flex;
    .item{
      height: rem(104);
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;
      .s-p1{
        color: #fffdc7;
        
      }
      .s-p2{
        color: #fff;
        font-size: rem(22);
        padding-top: rem(14);
      }
    }
  }
}

.ranking-nav-container {
  background: #fff1e8;
  width: 100%;
  margin: 0 auto;
  padding: 0 0.25rem;
  color: #a4572e;
  margin-top: rem(74);
}

.ranking-nav {
  font-size: 0;
  overflow: scroll;
  white-space: nowrap;
  >.item {
    display: inline-block;
    font-size: rem(26);
    vertical-align: middle;
    width: 2.69rem;
    padding: rem(30) 0;
    position: relative;
    text-align: center;
    &.on {
      color: #ff4b4b;
    }
    &.disabled {
      color: #bbb;
    }
  }
}

.end-time{
  color: #666;
  font-size: rem(22);
  text-align: center;
  margin-top: rem(30);
}

.alert {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  
  transform: translateZ(1px);
  .alert-bg {
    background: rgba(0, 0, 0, .75);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
  }
  .alert-close {
    @include wh(80,
    80);
    @include bg('../images/close.png');
    position: relative;
    margin-top: rem(45);
    z-index: 1;
  }
  .alert-con{
    position: relative;
    z-index: 2;
    width: rem(600);
    border-radius: rem(10);
  }
  .alert-btn{
    width: rem(493);
    padding: rem(21) 0;
    background: linear-gradient(to bottom,#ffec7e,#ffc63c);
    text-align: center;
    font-size: rem(34);
    color: #a4562d;
    margin: 0 auto 0;
    border-radius: rem(8);
    position: relative;
    z-index: 3;
  }
}

.tips-con{
  height: rem(464);
  background: #fff url('../images/bg-frame5.png') center no-repeat;
  background-size: rem(569) rem(401);
  padding-top: rem(33);
  .tips-txt{
    height: rem(280);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    .tips-p1{
      color: #ff513b;
      font-size: rem(36);
    }
    .tips-p2{
      color: #141414;
      line-height: rem(42);
      margin-top: rem(46);
      span{
        color: #fd604c;
      }
    }
  }
}

.award-con{
  height: rem(609);
  background: #fff url('../images/bg-frame4.png') center no-repeat;
  background-size: rem(558) rem(545);
  padding-top: rem(88);
  .award-tit{
    color: #141414;
    font-size: rem(39);
    font-weight: normal;
    text-align: center;
    span{
      color: #ff4d4c;
    }
  }
  .award-img{
    height: rem(350);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    .award-bg{
      @include wh(470,470);
      @include bg('../images/award-bg.png');
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      z-index: 1;
    }
    img{
      display: block;
      width: rem(410);
      position: relative;
      z-index: 2;
    }
  }
}

.rule-con{
  height: rem(847);
  background: #fff url('../images/bg-frame3.png') center no-repeat;
  background-size: rem(541) rem(752);
  padding-top: rem(43);
  padding-left: rem(30);
  padding-right: rem(30);
  .rule-txt{
    padding-left: rem(40);
    padding-right: rem(40);
    height: rem(660);
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: rem(38);
    padding-top: 1px;
  }
  .rule-tit{
    color: #ff4b4b;
    font-size: rem(36);
    text-align: center;
    font-weight: bold;
  }
  .rule-con-tit{
    color: #ff4b4b;
    text-align: center;
    margin-bottom: rem(22);
  }
  .rule-con-txt{
    color: #615e5c;
    line-height: rem(32);
    margin-bottom: rem(32);
    text-align: justify;
    span{
      color: #ff4b4b;
    }
  }
}

.award-modal {
  .award-modal-container {
    position: relative;
    z-index: 1;
    background: #fff url('../images//bg-frame4.png') center no-repeat;
    background-size: rem(558) rem(566);
    border-radius: .5rem;
    @include wh(600,636);
    padding-top: rem(85);
    box-sizing: border-box;
  }
  .award-ranking {
    width: rem(473);
    margin: 0 auto;
    .tab {
      display: flex;
      border: 1px solid #ffeade;
      .item {
        flex: 1;
        padding: rem(21) 0;
        text-align: center;
        color: #fd604c;
        font-size: rem(30);
      }
      .item.active {
        font-weight: bold;
        background: #ffeade;
      }
    }
    .award-ranking-con {
      height: rem(314);
      padding-top: rem(20);
      .no-data {
        width: 100%;
        height: 100%;
        @include bg('../images/no-data.png');
        background-size: rem(224) rem(230);
        background-position: center;
      }
      .data {
        height: 100%;
        overflow-y: auto;
        .row {
          display: flex;
          width: rem(450);
          border-top: 1px dashed #e9c6b3;
          &:first-child{
            border-top: 0;
          }
          .row-fd {
            color: #a1602d;
            flex: 1;
            line-height: rem(58);
            
            span{
              color: #fd604c;
            }
            &:nth-child(2){
              text-align: right;
            }
          }
          &:first-child{
            border-top: 0;
          }
          .row-rank{
            height: rem(58);
            line-height: rem(58);
            &:nth-child(1){
              flex: 0 0 rem(48);
              text-align: center;
              color: #944f2a;
            }
            &:nth-child(2){
              text-align: center;
              color: #944f2a;
              flex: 1;
            }
            &:nth-child(3){
              text-align: right;
              color: #fd604c;
              flex: 1;
            }
          }
          .row-rank.n1{
            background: url('../images/6-1.png') center no-repeat;
            background-size: rem(30) rem(40);
            color: #e65021;
            padding-top: rem(10);
          }
          .row-rank.n2{
            background: url('../images/6-2.png') center no-repeat;
            background-size: rem(30) rem(40);
            color: #7177a7;
            padding-top: rem(10);
          }
          .row-rank.n3{
            background: url('../images/6-3.png') center no-repeat;
            background-size: rem(30) rem(40);
            color: #884900;
            padding-top: rem(10);
          }
        }
      }
    }
  }
  .award-link {
    width: rem(493);
    padding: rem(21) 0;
    background: linear-gradient(to bottom,#ffec7e,#ffc63c);
    text-align: center;
    font-size: rem(34);
    color: #a4562d;
    margin: rem(25) auto 0;
    border-radius: rem(8);
  }
}

.award-btn {
  @include wh(122,122);
  @include bg('../images/award-btn.png');
  position: fixed;
  right: rem(5);
  top: rem(488);
  z-index: 9;
}

.share-btn {
  @include wh(122,122);
  @include bg('../images/share-btn.png');
  position: fixed;
  right: rem(5);
  top: rem(634);
  z-index: 9;
}

.breath {
  animation: breath linear 0.8s infinite alternate;
}

.scale {
  animation: scale ease-out 0.8s 0.2s both;
}

.moveTop {
  animation: moveTop ease-out 0.6s 1s both;
}

@keyframes downArrow {
  0% {
    opacity: 0;
    transform: translate3d(0, -50%, 1px);
  }
  50% {
    opacity: .5;
    transform: translate3d(0, -25%, 1px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 1px);
  }
}

@keyframes breath {
  0% {
    transform: scale(1, 1);
  }
  100% {
    transform: scale(0.95, 0.95);
  }
}

@keyframes scale {
  0% {
    transform: scale(0, 0);
  }
  100% {
    transform: scale(1, 1);
  }
}

@keyframes moveTop {
  0% {
    opacity: 0;
    transform: translate3d(0, 100px, 0)
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.finger-move{
  animation: fingerMove 2s linear alternate infinite;
}

@keyframes fingerMove {
  0% {
    transform: translate3d(0, 0, 0)
  }
  25% {
    transform: translate3d(0, 0, 0)
  }
  75% {
    transform: translate3d(rem(310), 0, 0)
  }
  100% {
    transform: translate3d(rem(310), 0, 0)
  }
}