    <!-- 我的留言 -->
    <div class="alert" id="msgAlert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con con511">
            <div class="alert-tit">团贷网，我想对你说</div>
            <div class="textarea">
                <textarea maxlength="50" id="textarea"></textarea>
                <p class="holder">请输入你先说的祝福</p>
                <p class="ticker">
                    <span>0</span>/50</p>
            </div>
            <div class="btn" id="btnSubmit">提交留言</div>
            <div class="toast"></div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 我的加息特权 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con con431">
            <div class="alert-tit">我的加息特权</div>
            <div class="tequan">
                <div class="tq-tit tq-flex">
                    <div class="item">加息来源</div>
                    <div class="item">获取时间</div>
                    <div class="item">加息特权</div>
                </div>
                <div class="tq-con">
                    <div class="row tq-flex">
                        <div class="item">普惠加息</div>
                        <div class="item">07-01</div>
                        <div class="item">0.1%</div>
                    </div>
                    <div class="row tq-flex">
                        <div class="item">邀友挖矿</div>
                        <div class="item">07-01</div>
                        <div class="item">0.1%</div>
                    </div>
                    <div class="row tq-flex">
                        <div class="item">团币兑换</div>
                        <div class="item">07-01</div>
                        <div class="item">0.1%</div>
                    </div>
                </div>
            </div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 团币不够 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con con431">
            <div class="alert-tit">我的团币</div>
            <div class="tb">
                <p class="p1">(你的团币不足)</p>
                <p class="p2">您的当前的团币为<span>X,XXX</span>，暂时不足<br>以兑换该加息特权！</p>
            </div>
            <div class="btn">我知道了</div>
            <div class="toast">每人限兑一次</div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 团币足够 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con con431">
            <div class="alert-tit">我的团币</div>
            <div class="tb">
                <p class="p1">(我的团币：XXXXXXX)</p>
                <p class="p2">兑换：<span>0.XX%</span>加息特权 <br> 消耗：<span>XXXXXX</span>团币</p>
            </div>
            <div class="btn">确认兑换</div>
            <div class="toast">每人限兑一次</div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 未集齐彩蛋 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con con391">
            <div class="alert-tit">您还未集齐3个彩蛋哦~</div>
            <div class="cd">
                <p class="p1">7月1日—7月15日，集齐3个隐藏的周年庆彩蛋，即可参与抽奖！</p>
            </div>
            <div class="btn">前往寻找彩蛋</div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 抽奖未开始 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con notstart">
            <div class="alert-tit">抽奖时间未到！</div>
            <div class="cd">
                <p class="p1">抽奖活动将在7月15日00:00正式开放！7月1日—7月15日，集齐3个隐藏的周年庆彩蛋，即可参与！</p>
            </div>
            <div class="btn">我知道了</div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 登录提示 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con conLogin">
            <div class="alert-tit">请先登录</div>
            <p class="p1">亲，请先登录后再参与活动哦~</p>
            <div class="btn">我知道了</div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 活动未开始 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con notstart">
            <div class="alert-tit">活动未开始！</div>
            <div class="cd">
                <p class="p1">本次活动时间为2018年7月1日至2018年7月15日。活动尚未开始，敬请期待！</p>
            </div>
            <div class="btn">我知道了</div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 活动已结束 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con notstart">
            <div class="alert-tit">活动已结束！</div>
            <div class="cd">
                <p class="p1">本次活动时间为2018年7月1日至2018年7月15日。活动已结束，非常感谢您的关注！</p>
            </div>
            <div class="btn">我知道了</div>
            <div class="close"></div>
        </div>
    </div>

    <!-- 团币兑换加息特权 -->
    <div class="alert" style="display: none;">
        <div class="alert-bg"></div>
        <div class="alert-con con801">
            <div class="alert-tit">团币兑换加息特权</div>
            <div class="jx">
                <p class="jx-tit">我的团币：<span>6,688</span>（每人限兑一次）</p>
                <div class="jx-con">
                    <div class="row">
                        <div class="item1">加<br>息<br>特<br>权</div>
                        <div class="item2">
                            <p class="p1">0.%</p>
                            <p class="p2">8000团币</p>
                        </div>
                        <div class="item3">马上兑换</div>
                    </div>
                    <div class="row">
                        <div class="item1">加<br>息<br>特<br>权</div>
                        <div class="item2">
                            <p class="p1">0.%</p>
                            <p class="p2">8000团币</p>
                        </div>
                        <div class="item3">马上兑换</div>
                    </div>
                    <div class="row">
                        <div class="item1">加<br>息<br>特<br>权</div>
                        <div class="item2">
                            <p class="p1">0.%</p>
                            <p class="p2">8000团币</p>
                        </div>
                        <div class="item3">马上兑换</div>
                    </div>
                    <div class="row">
                        <div class="item1">加<br>息<br>特<br>权</div>
                        <div class="item2">
                            <p class="p1">0.%</p>
                            <p class="p2">8000团币</p>
                        </div>
                        <div class="item3">马上兑换</div>
                    </div>
                    <div class="row">
                        <div class="item1">加<br>息<br>特<br>权</div>
                        <div class="item2">
                            <p class="p1">0.%</p>
                            <p class="p2">8000团币</p>
                        </div>
                        <div class="item3">马上兑换</div>
                    </div>
                </div>
            </div>
            <div class="close"></div>
        </div>
    </div>


  <!-- 彩蛋 -->
  <div class="alert caidan-show" id="caidanAlert"  style="display: none;" >
        <div class="alert-bg"></div>
        <div class="alert-con caidan">
          <p class="p1">恭喜您获得 彩蛋3</p>
          <p class="p2">单笔投资We自动服务、We+自动服务满3000元！</p>
          <div class="cd-img">
            <div class="cd-light"></div>
            <div class="cd-icon cd-icon-yellow"></div>
            <div class="hand"></div>
          </div>
        </div>
      </div>
      <!-- 彩蛋 end-->


    <script>
        function alertToast(dom,txt){
            dom = $(dom);
            dom.html(txt).fadeIn();
            var timer = setTimeout(function(){
                dom.fadeOut();
                clearTimeout(timer);
            },2000);
        }

        $(".alert-bg").on("touchmove",function(e){
            e.preventDefault();
        }).on("click",function(){
            $(this).parent().hide();
        })
        $(".close").on("click",function(){
            $(this).parent().parent().hide();
        })
        $("#caidanAlert").on("click",function(){
            $(this).hide();
        })
    </script>