.mask{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .mask-bg{
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.7);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .mask-con{
        position: relative;
        z-index: 2;
    }
    .mask-close{
        @include wh(70,71);
        margin: rem(45) auto 0;
        @include bg('../images/mask-close.png');
        z-index: 2;
    }
}

.home-rule{
    @include wh(580,761);
    @include bg('../images/home-rule.png');
    padding-top: rem(105);
}

.mask-content{
    background: #fff7eb;
    border-radius: rem(12);
    @include flexCenter;
    flex-direction: column;
    margin: 0 auto;
    width: rem(546);
    .p1{
        color: #b4283d;
        line-height: rem(42);
    }
}

.mask-content1{
    height: rem(264);
}

.mask-content2{
    height: rem(274);
}

.mask-content3{
    height: rem(636);
    padding-top: rem(20);
    p{
        color: #b4283d;
        font-size: rem(22);
        line-height: rem(32);
        margin-bottom: rem(30);
        padding: 0 rem(40);
        text-align: justify;
    }
    .table{
        width: rem(434);
        margin: 0 auto rem(30);
        .th{
            padding: 0;
            .td{
                height: rem(60);
                &:nth-child(odd){
                    flex: 4;
                }
                &:nth-child(even){
                    flex: 5;
                }
            }
        }
        .tr{
            padding: 0;
            &:nth-child(odd){
                background: #fff9f2;
            }
            &:nth-child(even){
                background: #feddb9;
            }
            .td{
                height: rem(55);
                font-size: rem(20);
                &:nth-child(odd){
                    flex: 4;
                }
                &:nth-child(even){
                    flex: 5;
                }
            }
        }
    }
}

.activity-not-start{
    @include wh(580,385);
    @include bg('../../assets/images/activity-not-start.png');
    padding-top: rem(102);
}
.activity-end{
    @include wh(580,385);
    @include bg('../../assets/images/activity-end.png');
    text-align: center;
    padding-top: rem(102);
}
.no-login{
    @include wh(580,395);
    @include bg('../../assets/images/no-login.png');
    text-align: center;
    padding-top: rem(102);
    .p1{
        padding-top: rem(40);
    }
    .no-login-btn{
        @include wh(476,113);
        @include bg('../../assets/images/no-login-btn.png');
        margin-top: rem(30);
    }
}
.prize-list{
    @include wh(592,593);
    @include bg('../../assets/images/prize-list.png');
    text-align: center;
    padding-top: rem(188);
    padding-left: rem(57);
    padding-right: rem(42);
    .prize-list-scroll{
        height: rem(345);
        overflow: hidden;
        position: relative;
        padding-right: rem(39);
        .bscroll-vertical-scrollbar{
            right: rem(19) !important;
            background: #ecdac0 !important;
            border-radius: 3px;
            width: rem(10) !important;
            .bscroll-indicator{
                background: #ff811c !important;
                border: 0 !important;
            }
        }
    }
    .list-container{
        li{
            display: flex;
            align-items: center;
            height: rem(68);
            border-bottom: 1px dashed #f0e1ca;
            .item{
                flex: 1;
                text-align: center;
                color: #b4283d;
                font-size: rem(22);
            }
        }
        .active{
            .item{
                color: #fde157;
            }
        }
    }
    .no-data{
        width: 100%;
        height: 100%;
        background: url('../../assets/images/no-data.png') center rem(55) no-repeat;
        background-size: rem(224) rem(177);
        padding-top: rem(265);
        p{
            color: #bd4756;
            font-size: rem(22);
        }
    }
}
.mask-chance{
    @include wh(630,390);
    @include bg('../images/chance-bg.png');
    @include flexCenter;
    color: #d20f2d;
    text-align: center;
    flex-direction: column;
    &.no-chance-today{
        padding-bottom: rem(20);
    }
    &.no-chance{
        padding-top: rem(35);
    }
    .p1{
        font-size: rem(36);
        font-weight: bold;
    }
    .p2{
        margin-top: rem(35);
        line-height: rem(38);
    }
    .no-chance-share{
        @include wh(476,113);
        @include bg('../images/no-chance-share.png');
        margin-top: rem(35);
    }
}

.award-close{
    @include wh(80,80);
    @include bg('../images/award-close.png');
    position: absolute;
    top: rem(42);
    right: rem(30);
    z-index: 2;
}

.open-box{
    text-align: center;
    z-index: 2;
    .box-p1{
        color: #fff;
        font-size: rem(36);
        span{
            color: #ffdf07;
            font-size: rem(56);
            margin: 0 rem(10);
        }
    }
    .box-p2{
        color: #fff;
        font-size: rem(34);
        margin-top: rem(40);
        span{
            color: #ffdf07;
            font-size: rem(54);
            margin: 0 rem(10);
        }
    }
    .box-flex{
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        width: 100vw;
        padding: 0 rem(30);
        .item{
            width: 50%;
            margin: 0 auto;
            .box-flex-p1{
                color: #fff;
                line-height: rem(38);
                margin-top: rem(10);
                &.yellow{
                    color: #ffdf07;
                }
            }
            .box-flex-p2{
                color: #ffdf07;
                line-height: rem(38);
            }
            .btn-open{
                @include wh(288,97);
                @include bg('../images/btn-open.png');
                margin: rem(5) auto 0;
            }
            .btn-opened{
                @include bg('../images/btn-opened.png');
            }
            .box-img{
                @include wh(266,264);
                @include bg('../images/box.png');
                margin: 0 auto;
                p{
                    color: #fff;
                    font-size: rem(27);
                    font-weight: bold;
                    &.box-hb-p{
                        padding-top: rem(120);
                        padding-right: rem(30);
                        transform: rotateZ(-3deg);
                    }
                    &.box-jxq-p{
                        padding-top: rem(100);
                        padding-right: rem(20);
                        transform: rotateZ(-6deg);
                    }
                }
            }
            .box-img-jxq{
                @include bg('../images/box-jxq.png');
            }
            .box-img-hb{
                @include bg('../images/box-hb.png');
            }
            .award-img{
                @include wh(335,334);
                margin: rem(5) auto 0;
                p{
                    color: #fff;
                    font-size: rem(27);
                    font-weight: bold;
                    &.box-hb-p{
                        font-size: rem(34);
                        padding-top: rem(140);
                        padding-right: rem(40);
                        transform: rotateZ(-4deg);
                    }
                    &.box-jxq-p{
                        font-size: rem(35);
                        padding-top: rem(120);
                        padding-right: rem(20);
                        transform: rotateZ(-6deg);
                    }
                }
            }
            .award-jxq{
                @include bg('../images/award-jxq.png');
            }
            .award-hb{
                @include bg('../images/award-hb.png');
            }
            .award-p{
                color: #ffdf07;
                font-size: rem(40);
                padding-top: rem(38);
            }
        }
    }
    .award-watchPrize{
        @include wh(468,124);
        @include bg('../images/award-watchPrize.png');
        margin: rem(60) auto 0;
    }
    .award-share{
        @include wh(468,127);
        @include bg('../images/award-share.png');
        margin: rem(6) auto 0;
    }
}

.award-box{
    text-align: center;
    z-index: 2;
    width: 100%;
    .box-p1{
        color: #fff;
        font-size: rem(36);
        span{
            color: #ffdf07;
            font-size: rem(56);
            margin: 0 rem(10);
        }
    }
    .box-p2{
        color: #fff;
        font-size: rem(34);
        margin-top: rem(40);
        span{
            color: #ffdf07;
            font-size: rem(54);
            margin: 0 rem(10);
        }
    }
    .box-flex{
        // text-align: center;
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 rem(30);
        .item{
            width: 50%;
            // margin: 0 auto;
            .box-flex-p1{
                color: #fff;
                line-height: rem(38);
                margin-top: rem(10);
                &.yellow{
                    color: #ffdf07;
                }
            }
            .box-flex-p2{
                color: #ffdf07;
                line-height: rem(38);
            }
            .btn-open{
                @include wh(288,97);
                @include bg('../images/btn-open.png');
                margin: rem(5) auto 0;
            }
            .btn-opened{
                @include bg('../images/btn-opened.png');
            }
            .box-img{
                @include wh(266,264);
                @include bg('../images/box.png');
                margin: 0 auto;
                p{
                    color: #fff;
                    font-size: rem(27);
                    font-weight: bold;
                    &.box-hb-p{
                        padding-top: rem(120);
                        padding-right: rem(30);
                        transform: rotateZ(-3deg);
                    }
                    &.box-jxq-p{
                        padding-top: rem(100);
                        padding-right: rem(20);
                        transform: rotateZ(-6deg);
                    }
                }
            }
            .box-img-jxq{
                @include bg('../images/box-jxq.png');
            }
            .box-img-hb{
                @include bg('../images/box-hb.png');
            }
            .award-img{
                @include wh(335,334);
                margin: rem(5) auto 0;
                p{
                    color: #fff;
                    font-size: rem(27);
                    font-weight: bold;
                    &.box-hb-p{
                        font-size: rem(34);
                        padding-top: rem(140);
                        padding-right: rem(40);
                        transform: rotateZ(-4deg);
                    }
                    &.box-jxq-p{
                        font-size: rem(35);
                        padding-top: rem(120);
                        padding-right: rem(20);
                        transform: rotateZ(-6deg);
                    }
                }
            }
            .award-jxq{
                @include bg('../images/award-jxq.png');
            }
            .award-hb{
                @include bg('../images/award-hb.png');
            }
            .award-p{
                color: #ffdf07;
                font-size: rem(40);
                padding-top: rem(38);
            }
        }
    }
    .award-watchPrize{
        @include wh(468,124);
        @include bg('../images/award-watchPrize.png');
        margin: rem(60) auto 0;
    }
    .award-share{
        @include wh(468,127);
        @include bg('../images/award-share.png');
        margin: rem(6) auto 0;
    }
}